<div class="gm-screen grid grid-20col">
    <div class="grid-span-4 group-rewards" style="padding:5px;">
        <div>
            <div title="Use this to give out bulk rewards"><h6>Group Rewards</h6></div>
            <div>Only Active Players <input data-activeOnly type="checkbox" name="activeOnly" {{checked activeOnly}}></div>

            <hr />
            <div class="grid grid-2col group">
                <div class="label" data-tooltip='<h2 style="margin-top:0in;margin-right:0in;margin-bottom:.15pt;margin-left:
                -.25pt"><span style="font-family: Calibri, sans-serif"><strong ">Gaining XP</strong></span></h2>
                <p>The GM may award the players with XP at any time, but is typically awarded when the player characters spend any amount of time resting after completing a quest, encounter, or discovering something new. Whenever you gain XP, if your XP total is lower than any other player character’s total XP, you gain XP equal to the difference between your total and theirs. (Simply put: everyone shares the same amount of XP, defaulting to whoever has the highest). Additionally, the following modifiers are added to the total.</p>
                <p><em ><strong>Reaching 0 Hit Points.</strong></em> A 10% bonus of XP is awarded for each player character that fell to 0 hit points.</p>
                <p><em ><strong>Death.</strong></em> 1000 XP is awarded to each player character if another player character permanently dies.</p>
                <p><em ><strong>Creature Discovery.</strong></em> A 20% bonus of XP is awarded if the player characters roll combat sequence with a creature they have never rolled combat sequence with before.</p>
                <p><em ><strong>Location Discovery.</strong></em> A 20% bonus of XP is awarded if the player characters rest in a city, town, ruin, dungeon, point of interest, or otherwise generalized location they have never rested in before.</p>
                <p></p>
                <p>Note: XP is not rewarded by killing people or monsters, it is instead rewarded for surviving encounters in the wasteland. Sometimes failure is the best teacher.</p>' >
                XP
                </div>
                <div class="label">
                    Caps
                </div>
                <div>
                    <input data-tooltip="Base Amount of XP to give the party" type="number" data-group-xp value="{{ groupXp }}">+
                    <input data-tooltip="Total Percentage Bonus"type="number" data-group-xp-modifier value="{{ groupXpmodifier }}">%
                </div>
                <div>
                    <input placeholder="Caps" type="number" data-group-caps value="{{ groupCaps }}">
                </div>
            </div>
            <div class="my-2">
                <button type="button" data-action="divideGroup">Prepare Rewards</button>
            </div>
        </div>
        <hr />
        <div class="grid grid-5col characters">
            <div class="grid-span-3 label">

            </div>
            <div class="label">XP</div>
            <div class="label">
                Caps
            </div>
            {{#if activeOnly}}
            {{#each actors as |actor|}}
            {{#if actor.system.activePartymember}}
            <div class="grid-span-3 name-label">
                {{ actor.name }}
            </div>
            {{#with (lookup ../newActorData [id])~}}
            <div>
                <input style="border:none;" placeholder="0" type="number" data-actor-xp="{{actor.id}}" value="{{ xp }}" disabled>
            </div>
            <div>
                <input placeholder="0" type="number" data-actor-caps="{{actor.id}}" value="{{ caps }}">
            </div>
            {{/with}}
            {{/if}}
            {{/each}}
            {{else}}
            {{#each actors as |actor|}}
            <div class="grid-span-3 name-label">
                {{ actor.name }}
            </div>
            {{#with (lookup ../newActorData [id])~}}
            <div>
                <input style="border:none;" placeholder="0" type="number" data-actor-xp="{{actor.id}}" value="{{ xp }}" disabled>
            </div>
            <div>
                <input placeholder="0" type="number" data-actor-caps="{{actor.id}}" value="{{ caps }}">
            </div>
            {{/with}}
            {{/each}}
            {{/if}}
        </div>

        <div class="dialog-buttons flexrow">
            <button class="dialog-button">Send Rewards</button>
            <button class="dialog-button" data-action="cancel">Cancel</button>
        </div>
        <div>
            <br /><h6>Cheat Sheets</h6>
            <p></p>
            <p><a data-link="" data-uuid="Compendium.arcane-arcade-fallout.properties.Item.31qCwzre2jXqsj8Y">Targeted Attacks</a></p>
            <p><a data-link="" data-uuid="Compendium.arcane-arcade-fallout.properties.Item.iVqR9MjAM473tFOq">Fall Damage</a></p>
            <p><a data-link="" data-uuid="Compendium.arcane-arcade-fallout.properties.Item.CcBnnoYRjG7In3lu">Travel / Terrain</a></p>
            <p><a data-link="" data-uuid="Compendium.arcane-arcade-fallout.properties.Item.jzbAUoWYLRMgCAyL">Damage Application</a></p>
        </div>
    </div>
    <div class="grid-span-16"
         style="border:none;">
        <h6>Character Details</h6>
        <div 
             class="grid grid-4col character-details"
             style="border:none;">

            {{#each actors as |actor id|}}
            {{#if actor.system.activePartymember}}
            <div>Name</div>
            <div>Status</div>
            <div>Perks/Traits</div>
            <div>Notes</div>
            <div style="background-image:url('{{actor.img}}')"
                 class="character-stats">
                <div style="border:none;"
                     class="conditions">
                    {{#each actor.items as |item condition|}}
                    {{#Check item.type "condition"}}
                    {{#GreaterThan system.quantity 1}}
                    {{#GreaterThan system.quantity 2}}{{system.quantity}}x{{/GreaterThan}}
                    <span data-tooltip="{{item.name}}:<br/ >{{ item.system.description }}">
                        <img style="width:20px;height:auto;" src="{{item.img}}" />
                    </span>
                    {{/GreaterThan}}
                    {{/Check}}
                    {{/each}}
                </div>
                <div class="actor-name stat-block">
                    {{actor.name}}<br />
                    <span class="character-bg">
                        Lvl {{actor.system.level}}
                        {{#each actor.items as |item id|}}
                        {{#Check item.type "background"}}
                        {{item.name}}
                        {{/Check}}
                        {{/each}}
                    </span>
                    <progress class="statusbar"
                              value="{{ system.xp }}"
                              max="1000"
                              style="width:100%;height:5px;background:white;"
                              data-tooltip="{{system.xp}} out of 1000xp">
                        {{ system.xp }}
                    </progress>
                </div>
            </div>
            <div class="character-stats">
                <div class="grid grid-7col">
                    <div>S</div>
                    <div>P</div>
                    <div>E</div>
                    <div>C</div>
                    <div>I</div>
                    <div>A</div>
                    <div>L</div>
                    <div>{{actor.system.abilities.str.value}}</div>
                    <div>{{actor.system.abilities.per.value}}</div>
                    <div>{{actor.system.abilities.end.value}}</div>
                    <div>{{actor.system.abilities.cha.value}}</div>
                    <div>{{actor.system.abilities.int.value}}</div>
                    <div>{{actor.system.abilities.agi.value}}</div>
                    <div>{{actor.system.abilities.lck.value}}</div>
                </div>
                <div class="karmaCaps">
                    {{#each actor.system.karmaCaps as |flipped key|}}
                    <input type="checkbox"
                           name="system.karmaCaps.{{ key }}"
                           {{checked flipped}} disabled />
                    {{/each}}
                </div>
                <div class="grid grid-4col stat-block">
                    <div data-tooltip="Armor Class" class="stat-icon"><i class="fa-solid fa-shield"></i></div>
                    <div class="stat-value">{{actor.system.armorClass.value}}</div>
                    <div data-tooltip="Damage Threshold" class="stat-icon"><i class="fa-solid fa-shield-halved"></i></div>
                    <div class="stat-value">{{actor.system.damageThreshold.value}}</div>
                    <div data-tooltip="Health" class="stat-icon"><i class="fa-solid fa-heart"></i></div>
                    <div class="stat-value">{{actor.system.health.value}}/{{actor.system.health.max}}</div>
                    <div data-tooltip="Stamina" class="stat-icon"><i class="fa-solid fa-droplet"></i></div>
                    <div class="stat-value">{{actor.system.stamina.value}}/{{actor.system.stamina.max}}</div>
                    <div data-tooltip="Penalties<hr />
                     Hunger: {{actor.system.penalties.hunger.value}}<br />
                     Dehydration: {{actor.system.penalties.dehydration.value}}<br />
                     Radiation: {{actor.system.penalties.radiation.value}}<br />
                     Fatigue: {{actor.system.penalties.fatigue.value}}<br />
                     Exhaustion: {{actor.system.penalties.exhaustion.value}}<br />" class="stat-icon"><i class="fa-solid fa-skull"></i></div>
                    <div class="stat-value">-{{actor.system.penaltyTotal}}</div>
                    <div data-tooltip="Action Points" class="stat-icon"><i class="fa-solid fa-bolt"></i></div>
                    <div class="stat-value">{{actor.system.actionPoints.value}}/{{actor.system.actionPoints.max}}</div>
                </div>
            </div>
            <div style="max-height:200px;overflow-y:scroll">
                {{#each actor.items as |item id|}}
                {{#Check item.type "trait"}}
                <div>
                    <li class="item flexrow" data-item-id="{{ item._id }}" draggable="true">
                        <a class="item-control"
                           data-tooltip="TRAIT:<br> {{item.system.description}}">
                            {{item.name}}
                        </a>
                    </li>
                </div>
                {{/Check}}
                {{#Check item.type "perk"}}
                <div data-tooltip="{{item.system.description}}">
                    {{item.name}}
                </div>
                {{/Check}}
                {{/each}}
            </div>
            <div style="max-height:200px;overflow-y:scroll;text-align:initial">
                {{#if actor.system.properties}}
                <i class="fas fa-address-card" data-tooltip='{{actor.system.properties}}'></i>
                {{/if}}
            </div>
            <div class="grid-span-4" style="border:none;"><br /></div>
            {{/if}}
            {{/each}}

        </div>
    </div>
</div>

