<table class="character-status">
    <tr>
        <td style="width:25px;">
            HP
        <td class="vertical-buttons">
            <i data-health="plus" class="fas fa-plus-square"></i>
            <i data-health="minus" class="fas fa-minus-square"></i>
        </td>
        <td>
            <input type="number"
                   class="numberwithbuttons"
                   name="system.health.value"
                   value="{{ health.value }}" />
            /
            <input type="number"
                   class="numberwithbuttons"
                   name="system.health.max"
                   value="{{ health.max }}" />
        </td>
    </tr>
    <tr>
        <td style="width:25px;">
            SP
        <td class="vertical-buttons">
            <i data-stamina="plus" class="fas fa-plus-square"></i>
            <i data-stamina="minus" class="fas fa-minus-square"></i>
        </td>
        <td>
            <input type="number"
                   class="numberwithbuttons"
                   name="system.stamina.value"
                   value="{{ stamina.value }}" />
            /
            <input type="number"
                   class="numberwithbuttons"
                   name="system.stamina.max"
                   value="{{ stamina.max }}" />
        </td>
    </tr>
    <tr>
        <td style="width:25px;">
            AP
        <td class="vertical-buttons">
            <i data-action="plus" class="fas fa-plus-square"></i>
            <i data-action="minus" class="fas fa-minus-square"></i>
        </td>
        <td>
            <input type="number"
                   class="numberwithbuttons"
                   name="system.abilityPoints.value"
                   value="{{ system.actionPoints.value }}" />
            /
            <input type="number"
                   class="numberwithbuttons"
                   name="system.abilityPoins.max"
                   value="{{ system.actionPoints.max }}" />
        </td>
    </tr>
    </table>
<table style="width:200px;">
    <tr>
        <td>
            <div class="fakebutton" data-recycle-ap title="Refresh AP During Combat">
                <i class="fa-solid fa-recycle"></i>
            </div>
        </td>
        <td>
            <div class="fakebutton" data-refill-ap title="Refresh AP Outside of Combat">
                <i class="fa-regular fa-arrow-up-right-dots"></i>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input id="armorClass-form"
                   type="number"
                   name="system.armorClass.value"
                   value="{{ armorClass.value }}" />AC
        </td>
        <td>
            <input id="damageThreshold-form"
                   type="number"
                   name="system.damageThreshold.value"
                   value="{{ damageThreshold.value }}" />DT
        </td>
    </tr>
</table>

