<div class="choose-perk scrollable">
    <div class="filters">
        <label data-tooltip="Only display perks of which you meet the requirements">
            <input data-action="filter" type="checkbox" name="onlyAvailablePerks" {{#if onlyAvailablePerks}} checked{{/if}} />
            Only available perks
        </label>
    </div>
    <div class="my-2">
        <button data-action="cancel">Cancel</button>
    </div>
    <div class="perk-grid">
        {{#each perks as |perk|}}
            <div class="perk">
                <img
                    class="mx-auto"
                    src="{{perk.img}}"
                    width="100"
                    alt="{{perk.name}}"
                    data-tooltip="{{perk.name}}: {{perk.system.description}}"
                >
                {{#if perk.hasRequirements}}
                <div class="text-center">
                    <div class="underline">
                        requirements
                    </div>
                    {{#GreaterThan perk.system.lvlReq 2 }}
                        <div>
                            Lvl:{{ perk.system.lvlReq }}
                        </div>
                    {{/GreaterThan}}
                    {{#if (NotEqual perk.system.specialReq.special '' ) }}
                    {{#if (NotEqual perk.system.specialReq.special 'None' ) }}
                    <div>
                        {{SpecialKeyToLabel perk.system.specialReq.special }}: {{ perk.system.specialReq.value }}
                    </div>
                    {{/if}}
                    {{/if}}

                    {{#if perk.system.raceReq }}
                    <div>
                        {{#each perk.system.raceReq as |raceReq|}} {{ raceReq.label }} {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{/if}}
                <button
                    data-tooltip="{{perk.name}}"
                    data-action="perk"
                    data-perk-id="{{ perk.id }}"
                >
                    {{ perk.name }}
                </button>
            </div>
        {{/each}}
    </div>
</div>