<table class="equipped-stats">
    <tr>
        <td style="width:45%;vertical-align:top">
            <h3>Weapons and Armor</h3>
            {{#each rangedWeapons as |item id|}}
            {{#unless item.system.itemEquipped}}
            <li style="float:left;" class="item flexrow" data-item-id="{{ item._id }}">
                <div class="item-controls">
                    <a class="item-control"
                       data-edit
                       data-item-id="{{ item._id }}"
                       title="{{localize 'DOCUMENT.Update' type='item'}}">
                        {{item.name}}({{item.system.quantity}})
                    </a>                
                    <a class="item-control item-delete"title="{{localize 'DOCUMENT.Delete' type='item'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a style="float: right; margin-left: 10px"
                        data-equip
                        data-item-id="{{ item._id }}"
                        class="item-control"
                        title="Equip a weapon">
                        <i class="fas fa-tshirt"></i>
                    </a>
                </div>
            </li>
            {{/unless}}
            {{/each}}
            {{#each meleeWeapons as |item id|}}
            {{#unless item.system.itemEquipped}}
            <li style="float:left;" class="item flexrow" data-item-id="{{ item._id }}">
                <div class="item-controls">
                    <a class="item-control"
                       data-edit
                       data-item-id="{{ item._id }}"
                       title="{{localize 'DOCUMENT.Update' type='item'}}">
                        {{item.name}}({{item.system.quantity}})
                    </a>                <a class="item-control item-delete"
                                           title="{{localize 'DOCUMENT.Delete' type='item'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a style="float: right; margin-left: 10px"
                        data-equip
                        data-item-id="{{ item._id }}"
                        class="item-control"
                        title="Equip a weapon">
                        <i class="fas fa-tshirt"></i>
                    </a>
                </div>
            </li>
            {{/unless}}
            {{/each}}
            {{#each armors as |item id|}}
            {{#unless item.system.itemEquipped}}
            <li style="float:left;" class="item flexrow" data-item-id="{{ item._id }}">
                <div class="item-controls">
                    <a class="item-control"
                       data-edit
                       data-item-id="{{ item._id }}"
                       title="{{localize 'DOCUMENT.Update' type='item'}}">
                        {{item.name}}({{item.system.quantity}})
                    </a>                <a class="item-control item-delete"
                                           title="{{localize 'DOCUMENT.Delete' type='item'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a style="float: right; margin-left: 10px"
                        data-equip
                        data-item-id="{{ item._id }}"
                        class="item-control"
                        title="Equip an armor">
                        <i class="fas fa-tshirt"></i>
                    </a>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </td>
    </tr>
</table>

<table class="backpack">
    <tr>
        <td style="width:60%;padding:5px;">
            <table class="equipped-stats">
                <tr><td colspan="999"><h3>Food and Drinks</h3></td></tr>
                <div>
                <tr><td>Name</td><td>Qty</td><td>Properties</td><td></td></tr>
                {{#each foodAnddrinks as |item id|}}
                <tr>
                    <td style="width: 100px">
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>
                        <i style="padding:3px;" data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus-square"></i>
                        {{ system.quantity }}
                        <i style="padding:3px;" data-itemaddition data-item="{{item._id}}" class="fas fa-plus-square"></i>
                    </td>

                    <td data-properties="{{item.system.description}}">
                        {{{ item.system.description }}}
                    </td>
                    <td class="td-controls" style="padding:0px;margin:0px;">
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control item-delete"
                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    </td>
                </tr>
                {{/each}}
            </table>
            </div><br />
            <table class="equipped-stats">
                <tr><td colspan=999><h3>CHEMS</h3></tr>
                <tr><td>Name</td><td>Qty</td><td>Properties</td><td></td></tr>
                {{#each chems as |item id|}}
                <tr>
                    <td style="width: 100px">
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                            <span class="label"> {{ item.name }}</span>
                        </a>
                    </td>
                    <td>
                        <i style="padding:3px;" data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus-square"></i>
                        {{ system.quantity }}
                        <i style="padding:3px;" data-itemaddition data-item="{{item._id}}" class="fas fa-plus-square"></i>
                    </td>

                    <td>
                        {{{ item.system.description }}}
                    </td>
                    <td class="td-controls">
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control item-delete"
                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    </td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td style="width:40%;padding:5px;">
            <div>
                <table class="equipped-stats">
                    <tr><td colspan=999><h3>MISC ITEMS</h3></td></tr>
                    <tr><td>Name</td><td>Qty</td><td></td></tr>
                    {{#each miscItems as |item id|}}
                    <tr>
                        <td class="item-label">
                            <span class="label" style="margin-right: 5px">
                                <a class="item-control"
                                   data-edit
                                   data-item-id="{{ item._id }}"
                                   title="{{localize 'DOCUMENT.Update' type='item'}}">
                                    {{item.name}}
                                </a>
                            </span>
                        </td>

                        <td>
                            <i style="padding:3px;" data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus-square"></i>
                            {{ system.quantity }}
                            <i style="padding:3px;" data-itemaddition data-item="{{item._id}}" class="fas fa-plus-square"></i>
                        </td>
                        <td class="td-controls">
                            <li class="item flexrow" data-item-id="{{ item._id }}">
                                <div class="item-controls">
                                    <a class="item-control item-delete"
                                       title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        </td>
            </td>
         </tr>
    {{/each}}
</table>

      </div>
    </td>
  </tr>
</table>
