<table>
      {{#each rangedWeapons as |item id|}}
    <tr>

        <td class="context-menu" data-item-id="{{ item._id }}">{{item.name}}</td>
        <td colspan="3" style="border-left: none">
            <div style="float:left;">
                <i style="padding: 2px;float:right"
                   data-reduce-decay
                   data-field="item.system.decay"
                   data-fieldvalue="{{item.system.decay}}"
                   data-weapon-id="{{ item._id }}"
                   class="fas fa-minus-square fakebutton nobackground">
                </i>
            </div>
            {{ item.system.decay }}
            <div style="float:right;">
                <i style="padding: 2px;float:left"
                   data-add-decay
                   data-field="item.system.decay"
                   data-fieldvalue="{{item.system.decay}}"
                   data-weapon-id="{{ item._id }}"
                   class="fas fa-plus-square fakebutton nobackground">
                </i>
            </div>
        </td>
        <td>AP: {{item.system.apCost}}</td>
        <td>{{ item.system.range.short }}ft - {{item.system.range.long}}ft</td>
        <td title="{{item.system.ammo.assigned}}">{{item.system.ammo.capacity.value}}/{{ item.system.ammo.capacity.max }}</td>
        <td>
            <i title="Reloaded {{ system.reloadDecay }} Times | 10 Reloads = 1 Level of Decay"
               data-reload
               data-weapon-id="{{ item._id }}"
               class="fa fa-refresh"></i>
            <i title="Roll An Attack"
               data-weapon-roll
               data-weapon-id="{{ item._id }}"
               class="fa fa-solid fa-crosshairs"></i>
        </td>
    </tr>
      {{/each}}
      {{#each meleeWeapons as |item id|}}
<tr>
    <td class="context-menu" data-item-id="{{ item._id }}">{{item.name}}</td>
    <td colspan="3" style="border-left: none">
        <div style="float:left;">
            <i style="padding: 2px;float:right"
               data-reduce-decay
               data-field="item.system.decay"
               data-fieldvalue="{{item.system.decay}}"
               data-weapon-id="{{ item._id }}"
               class="fas fa-minus-square fakebutton nobackground">
            </i>
        </div>
        {{ item.system.decay }}
        <div style="float:right;">
            <i style="padding: 2px;float:left"
               data-add-decay
               data-field="item.system.decay"
               data-fieldvalue="{{item.system.decay}}"
               data-weapon-id="{{ item._id }}"
               class="fas fa-plus-square fakebutton nobackground">
            </i>
        </div>
    </td>
    <td>AP: {{item.system.apCost}}</td>
    <td>5ft</td>
    {{#if item.system.ammo.assigned}}
    <td title="{{item.system.ammo.assigned}}">{{item.system.ammo.capacity.value}}/{{ item.system.ammo.capacity.max }}</td>
    {{else}}
    <td>NA</td>
    {{/if}}
    <td>
        <i title="Reloaded {{ system.reloadDecay }} Times | 10 Reloads = 1 Level of Decay"
           data-reload
           data-weapon-id="{{ item._id }}"
           class="fa fa-refresh"></i>
        <i title="Roll An Attack"
           data-weapon-roll
           data-weapon-id="{{ item._id }}"
           class="fa fa-solid fa-crosshairs"></i>
    </td>
</tr>
      {{/each}}
    <tr>
    {{#if explosives}}
    <td class="armorbox" colspan="999">
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/explosives.hbs"
            explosives=explosives
            abilities=system.abilities
            skills=system.skills
            penaltyTotal=penaltyTotal
      }}
    {{/if}}
  </tr>
</table>
