<style>
    .sheet .backpack i{
        cursor:default;
    }
</style>
<div class="grid grid-2col backpack-tab">
    <div class="left segment">
        <h3>Weapons</h3>
        <div class="grid grid-20col labels">
            <i class="fas fa-tshirt"></i>
            <div class="grid-span-10">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon"src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-3"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{#each rangedWeapons as |item id|}}
    <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
        <div>
            <i data-equipToggle data-item-id="{{ item._id}}"
               class="pointer {{#if system.itemEquipped}}
            far fa-check-circle{{else}}far fa-circle{{/if}}">
            </i>
        </div>
        <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">
            <li class="item" data-item-id="{{ item._id }}" draggable="true">
                {{item.name}}
        </div>
        <div class="grid-span-3">{{item.system.cost}}</div>
        <div class="grid-span-3">{{item.system.quantity}}</div>
        <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
    </div>
        {{/each}}
        {{#each meleeWeapons as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">
            <li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
        <h3>Ammunition</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-11">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon"src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-3"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{#each ammos as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-11 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
        {{#if explosives}}<h3>Explosives</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-11">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon"src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-3"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{/if}}
        {{#each explosives as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-11 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
    </div>
    <div class="right segment">
        <h3>Gear</h3>
        <div class="grid grid-20col labels">
            <i class="fas fa-tshirt"></i>
            <div class="grid-span-10">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon"src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-3"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{#each armors as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
        {{#each powerArmors as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
        {{#each miscItems as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.worn}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
    </div>
    </div>
<div class="grid grid-2col backpack-tab">
    <div class="left segment">
        <h3>Consumables</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-7">Name</div>
            <div class="grid-span-2 caps-icon icon"><img class="custom-icon" src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-2">#</div>
            <div class="grid-span-2"><i class="fas fa-weight-hanging"></i></div>
            <div class="grid-span-6">Prop.</div>
        </div>
        {{#each foodAnddrinks as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
            <div class="grid-span-6 description">{{{item.system.description}}}</div>
        </div>
        {{/each}}
        {{#each chems as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
            <div class="grid-span-6 description">{{{item.system.description}}}</div>
        </div>
        {{/each}}
        {{#each medicines as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
            <div></div>
        </div>
        {{/each}}
    </div>
    <div class="right segment">
        <h3>Junk Items</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-12">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon" src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-2"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{#each junk as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-12 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-2" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
        <h3>Materials</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-12">Name</div>
            <div class="grid-span-3 caps-icon icon"><img class="custom-icon" src="/systems/arcane-arcade-fallout/assets/caps.webp" /></div>
            <div class="grid-span-3">#</div>
            <div class="grid-span-2"><i class="fas fa-weight-hanging"></i></div>
        </div>
        {{#each materials as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-12 context-menu" data-item-id="{{item._id}}"><li class="item" data-item-id="{{ item._id }}" draggable="true">{{item.name}}</li></div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-2" data-tooltip="Qty ({{item.system.quantity}}) x Load ({{item.system.load}})">{{#Multiply item.system.load item.system.quantity}}{{/Multiply}}</div>
        </div>
        {{/each}}
    </div>
</div>

