<style>
table{
	border-solid 1px;
}
.sheet .armor-stats td{
	border:solid 1px;
	
}
</style>
<table>
<tr>
<td class="inventory-slot armorslot" style="50%">
{{#each armors as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
    <table>
	<tr><td><h2>{{item.name}}</h2></td></tr>
	<tr><td>
		  <table class="armor-stats">
	  <tr>
	  <td>Cost</td><td>AC</td><td>DT</td><td>Slots</td><td>Load</td><td>STR Req.</td></tr>
	  <tr>
	  <td>{{{system.base-cost.value}}}</td>
	  <td id="armor-ac">{{{system.armor-class.value}}}</td>
	  <td id="armor-dt">{{{system.damage-threshold.value}}}</td>
	  <td>{{{system.slots.value}}}</td>
	  <td>{{{system.load.value}}}</td>
	  <td>{{{system.str-req.value}}}</td>
	  </tr>
</table>
	
	
	<div class='item-controls'>
	<a style="float:right;margin-right:10px;" class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='perk'}}'><i class='fas fa-trash'></i></a>
		<a style="float:right;margin-right:10px;" class='item-control item-edit' title='{{localize "DOCUMENT.Update" type='perk'}}'><i class='fas fa-edit'></i></a>
	</div></td></tr>
	</table>
</li>
  {{/each}}
</td>
<td class="inventory-slot weapons" style="width:50%">Weapons Go Here.</td>
</tr>
</table>