<div class="grid grid-2col backpack-tab">
    <div class="left segment">
        <h3>Weapons</h3>
        <div class="grid grid-20col labels">
            <div>E</div>
            <div class="grid-span-10">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
            <div class="grid-span-3">Load</div>
        </div>
        {{#each rangedWeapons as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
            far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3" title="Total Load: {{#Multiply item.system.load item.system.quantity}}{{/Multiply}}">{{item.system.load}}</div>
        </div>
        {{/each}}
        {{#each meleeWeapons as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3">{{item.system.load}}</div>
        </div>
        {{/each}}
        <h3>Ammunition</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-11">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
            <div class="grid-span-3"></div>
        </div>
        {{#each ammos as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-11 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3"></div>
        </div>
        {{/each}}
        {{#if explosives}}<h3>Explosives</h3>{{/if}}
        <div class="grid grid-20col labels">
            <div class="grid-span-11">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
            <div class="grid-span-3">Load</div>
        </div>
        {{#each explosives as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-11 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3">{{item.system.load}}</div>
        </div>
        {{/each}}
    </div>
    <div class="right segment">
        <h3>Gear</h3>
        <div class="grid grid-20col labels">
            <div>E</div>
            <div class="grid-span-10">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
            <div class="grid-span-3">Load</div>
        </div>
        {{#each armors as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3">{{item.system.load}}</div>
        </div>
        {{/each}}
        {{#each powerArmors as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3">{{item.system.load}}</div>
        </div>
        {{/each}}
        {{#each miscItems as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div>
                <i data-equipToggle data-item-id="{{ item._id}}"
                   class="pointer {{#if system.itemEquipped}}
                   far fa-check-circle{{else}}far fa-circle{{/if}}">
                </i>
            </div>
            <div class="grid-span-10 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
            <div class="grid-span-3">{{item.system.load}}</div>
        </div>
        {{/each}}
    </div>
    </div>
<div class="grid grid-2col backpack-tab">
    <div class="left segment">
        <h3>Consumables</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-7">Name</div>
            <div class="grid-span-2">Caps</div>
            <div class="grid-span-2">Qty</div>
            <div class="grid-span-2">Load</div>
            <div class="grid-span-6">Prop.</div>
        </div>
        {{#each foodAnddrinks as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2">{{item.system.load}}</div>
            <div class="grid-span-6 description">{{{item.system.description}}}</div>
        </div>
        {{/each}}
        {{#each chems as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2">{{item.system.load}}</div>
            <div class="grid-span-6 description">{{{item.system.description}}}</div>
        </div>
        {{/each}}
        {{#each medicines as |item id|}}
        <div class="grid grid-20col backpack-row">
            <div class="grid-span-7 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-2">{{item.system.cost}}</div>
            <div class="grid-span-2">{{item.system.quantity}}</div>
            <div class="grid-span-2">{{item.system.load}}</div>
            <div></div>
        </div>
        {{/each}}
    </div>
    <div class="right segment">
        <h3>Junk Items</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-12">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
        </div>
        {{#each junk as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-12 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
        </div>
        {{/each}}
        <h3>Materials</h3>
        <div class="grid grid-20col labels">
            <div class="grid-span-12">Name</div>
            <div class="grid-span-3">Caps</div>
            <div class="grid-span-3">Qty</div>
        </div>
        {{#each materials as |item id|}}
        <div class="grid grid-20col backpack-row" data-item-id="{{item._id}}">
            <div class="grid-span-12 context-menu" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="grid-span-3">{{item.system.cost}}</div>
            <div class="grid-span-3">{{item.system.quantity}}</div>
        </div>
        {{/each}}
    </div>
</div>

