{{#each traits as |item id|}}
<div class="box-perks">
    <li class="item flexrow" data-item-id="{{ item._id }}">
        <table class="perk-table" style="border: solid 1px">
            <tr>
                <td>
                    <div class="perk-div">
                        <h3>{{ item.name }}</h3>
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           data-tooltip="View Item Details">
                            <img data-tooltip="{{ system.description }}" class="perk-image" src="{{ item.img }}" />
                        </a>
                    </div>
                    <div class="perk-div">
                        <i style="padding: 3px"
                           data-item="{{ item._id }}"
                           class="fas fa-minus-square"></i>
                        TRAIT
                        <i style="padding: 3px"
                           data-item="{{ item._id }}"
                           class="fas fa-plus-square"></i>
                    </div>
                    <div class="perk-div" style="text-align:left;">
                        <i class="fas fa-ellipsis-v context-menu context-icon perk-context" data-item-id="{{ item._id }}"></i>
                    </div>
                </td>
    </tr>
    </table>
    </li>
</div>
{{/each}}

{{#each perks as |item id|}}
<div class="box-perks">
    <li class="item flexrow" data-item-id="{{ item._id }}">
        <table class="perk-table" style="border: solid 1px">
            <tr>
                <td>
                    <div class="perk-div">
                        <h3>{{ item.name }}</h3>
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           data-tooltip="View Item Details">
                            <img data-tooltip="{{ system.description }}" class="perk-image" src="{{ item.img }}" />
                        </a>
                    </div>
                    <div class="perk-div">
                        <i style="padding: 3px"
                           data-itemsubtraction
                           data-item="{{ item._id }}"
                           class="fas fa-minus-square"></i>
                        {{ system.quantity }}
                        <i style="padding: 3px"
                           data-itemaddition
                           data-item="{{ item._id }}"
                           class="fas fa-plus-square"></i>
                    </div>
                    <div class="perk-div" style="text-align:left;">
                        <i class="fas fa-ellipsis-v context-menu context-icon perk-context" data-item-id="{{ item._id }}"></i>
                    </div>
                </td>
    </tr>
    </table>
    </li>
</div>
{{/each}}
