<table>
	<tr>
		{{!-- Armor Slot --}}
		<td class="inventory-slot armorslot" style="width:50%;padding:10px;">
			<table>
				{{#each actor.items as |item id|}}
				<tr>
					<td data-edit data-item-id="{{item._id}}">				
						{{item.name}} ({{item.system.quantity}})
					</td>
				</tr>
				{{/each}}
			</table>

			{{#each armors as |item id|}}
			<div class='item flexrow' data-item-id='{{item._id}}'>
				<table>
					<tr>
						<td>
							<h2>{{item.name}}</h2>
						</td>
					</tr>
					<tr>
						<td>
							<table class="equipped-stats">
								<tr>
									<td>Cost</td>
									<td>AC</td>
									<td>DT</td>
									<td>Slots</td>
									<td>Load</td>
									<td>STR Req.</td>
								</tr>
								<tr>
									<td>{{{system.cost.value}}}</td>
									<td>{{{system.armorClass.value}}}</td>
									<td>{{{system.damageThreshold.value}}}</td>
									<td>{{{system.slots.value}}}</td>
									<td>{{{system.load.value}}}</td>
									<td>{{{system.str-req.value}}}</td>
								</tr>
							</table>
							<div class='item-controls'>
								<a
									style="float:right;margin-right:10px;"
									class='item-control item-delete'
									title='{{localize "DOCUMENT.Delete" type=' item'}}'
								>
									<i class='fas fa-trash'></i>
								</a>
								<a
									style="float:right;margin-right:10px;"
									data-edit
									data-item-id="{{item._id}}"
									class='item-control'
									title='{{localize "DOCUMENT.Update" type=' item'}}'
								>
									<i class='fas fa-edit'></i>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			{{/each}}
		</td>
		{{!-- RangedWeapon Slot --}}
		<td class="inventory-slot ammos" style="width:50%;padding:10px;">
			{{#each rangedWeapons as |item id|}}
			<div class='item flexrow' data-item-id='{{item._id}}'>
				<table>
					<tr>
						<td>
							<h2>{{item.name}}</h2>
						</td>
					</tr>
					<tr>
						<td>
							<table class="equipped-stats">
								<tr>
									<td colspan=999>DETAILS</td>
								</tr>
								<tr>
									<td>AP</td>
									<td>Dmg</td>
									<td>Crit DV</td>
									<td>Crit Dmg</td>
									<td>Load</td>
									<td>Str Req</td>
								</tr>
								<tr>
									<td>
										<button
											class="rollable resource-label"
											data-weapon-roll
											data-weapon-id="{{item._id}}"
											class="resource-label"
										>
											{{item.system.apCost}}
										</button>
									</td>
									<td>
										<button
											class="rollable resource-label"
											data-rollable
											data-label="OUCH! DMG from a {{item.name}}"
											data-roll="{{item.system.damage.formula}}">
											{{item.system.damage.formula}}
										</button>
									</td>
									<td>{{item.system.critical.dice}}</td>
									<td>{{item.system.critical.bonus}}</td>
									<td>{{item.system.load}}</td>
									<td>{{item.system.strengthRequirement}}</td>
								</tr>
							</table>
							<table class="equipped-stats">
								<tr>
									<td colspan=999>RANGE</td>
								</tr>
								{{!-- {{#if item.system.range.flat}}
								<tr>
									<td>flat</td>
								</tr>
								<tr>
									<td>{{item.system.range.flat}}ft</td>
								</tr>
								{{else}} --}}
								<tr>
									<td>Short</td>
									<td>Long (Disadvantage)</td>
									<td>Out of range</td>
								</tr>
								<tr>
									<td>0 - {{item.system.range.short}}ft</td>
									<td>
										{{item.system.range.short}}
										ft - {{system.range.long}}ft
									</td>
									<td>{{system.range.long}}ft+</td>
								</tr>
								{{!-- {{/if}} --}}
							</table>
							<table class="equipped-stats">
								<tr>
									<td colspan=999>CONSUMES</td>
								</tr>
								<tr>
									<td>Type</td>
									<td>Rounds per attack</td>
									<td>Item</td>
								</tr>
								<tr>
									<td>{{item.system.ammo.type}}</td>
									<td>{{item.system.ammo.consumes.amount}}</td>
									<td>
										<select data-set-ammo data-weapon-id="{{item._id}}">
											{{selectOptions item.ammos selected=item.system.ammo.consumes.target
											nameAttr="_id" labelAttr="name" blank="none"}}
										</select>
									</td>
								</tr>
							</table>
							<table class="equipped-stats">
								<tr>
									<td colspan=2>AMMO</td>
									<td>OWNED</td>
								</tr>
								<tr>
									<td>{{item.system.ammo.capacity.value}} / {{item.system.ammo.capacity.max}}</td>
									<td>
										<button data-reload data-weapon-id="{{item._id}}">
											RELOAD
										</button>
									</td>
									<td> 
										{{#each item.ammos as |ammo|}}
											{{#if (eq ammo._id item.system.ammo.consumes.target )}}
												{{ammo.system.quantity}}
											{{/if}}
										{{/each}}
									</td>
								</tr>
							</table>
							<div class='item-controls'>
								<a
									style="float:right;margin-right:10px;"
									class='item-control item-delete'
									title='{{localize "DOCUMENT.Delete" type=' item'}}'
								>
										<i class='fas fa-trash'></i>
								</a>
								<a
									style="float:right;margin-right:10px;"
									class='item-control'
									data-edit
									data-item-id="{{item._id}}"
									title='{{localize "DOCUMENT.Update" type=' item'}}'
								>
										<i class='fas fa-edit'></i>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			{{/each}}
			{{!-- MeleeWeapons Slot --}}
			{{#each meleeWeapons as |item id|}}
			<div class='item flexrow' data-item-id='{{item._id}}'>
				<table>
					<tr>
						<td>
							<h2>{{item.name}}</h2>
						</td>
					</tr>
					<tr>
						<td>
							<table class="equipped-stats">
								<tr>
									<td colspan=999>DETAILS</td>
								</tr>
								<tr>
									<td>AP</td>
									<td>Dmg</td>
									<td>Crit DV</td>
									<td>Crit Dmg</td>
									<td>Load</td>
									<td>Str Req</td>
								</tr>
								<tr>
									<td>
										<label class="rollable resource-label"
											data-weapon-roll
											data-label="BOOM! Attack with a {{item.name}}"
											data-roll="d20+@skills.guns.value + @abilities.agi.mod - @penaltyTotal">
											{{system.apCost}}
										</label>
									</td>
									<td>
										<label class="rollable resource-label"
											data-rollable
											data-label="OUCH! DMG from a {{item.name}}"
											data-roll="{{system.damage.formula}}">
											{{system.damage.formula}}
										</label>
									</td>
									<td>{{item.critical.dice}}</td>
									<td>{{item.critical.bonus}}</td>
									<td>{{item.load}}</td>
									<td>{{item.strengthRequirement}}</td>
								</tr>
							</table>
							<table class="equipped-stats">
								<tr>
									<td>Type</td>
									<td>Rounds</td>
								</tr>
								<tr>
									<td>{{system.ammo.capacity.value}}</td>
								</tr>
							</table>
							<div class='item-controls'>
								<a
									style="float:right;margin-right:10px;"
									class='item-control item-delete'
									title='{{localize "DOCUMENT.Delete" type=' item'}}'>
										<i class='fas fa-trash'></i>
								</a>
								<a
									style="float:right;margin-right:10px;"
									data-edit
									data-item-id="{{item._id}}"
									class='item-control'
									title='{{localize "DOCUMENT.Update" type='item'}}'
								>
										<i class='fas fa-edit'></i>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			{{/each}}
		</td>
	</tr>
</table>