<style>
  .specialroll {
    text-transform: uppercase;
  }
</style>
<table class="status-block">
  <tr>
    <td class="skill-table">
      {{>
          "systems/arcane-arcade-fallout/templates/actor/status/skills.hbs"
          startingSkillpoints=system.startingSkillpoints
          skillPool=system.skillPool
          skills=system.skills
          abilities=system.abilities
          penaltyTotal=system.penaltyTotal
      }}
    </td>
    <td class="status-table">
      <br />
      {{>
          "systems/arcane-arcade-fallout/templates/actor/status/penalties.hbs"
          penalties=system.penalties
          penaltyTotal=system.penaltyTotal
          radDC=system.radDC
          irradiated=system.irradiated
      }}
      <br />
      <table>
        <tr>
          <td>Healing Rate</td>
          <td
            class="resource-label rollable"
            data-rollable
            data-roll="d20+@combatSequence+@penaltyTotal+@luckmod"
            data-label="Performed a Combat Sequence roll!<br> D20 + Combat Sequence - Penalties + Luck Mod / 2"
          >
            Combat Sequence
          </td>
          <td>Fatigue</td>
        </tr>
        <tr>
          <td>
            <input type="number" name="system.healingRate" value="{{ system.healingRate }}" />
          </td>
          <td>
            <input type="number" name="system.combatSequence" value="{{ system.combatSequence }}" />
          </td>
          <td>
            <input
              type="number"
              name="system.penalties.fatigue.value"
              value="{{ system.penalties.fatigue.value }}"
            />
          </td>
        </tr>
        <tr>
          <td>Passive Sense</td>
          <td>Party Nerve</td>
          <td>Group Sneak</td>
        </tr>
        <tr>
          <td>
            <input type="number" name="system.passiveSense" value="{{ system.passiveSense }}" />
          </td>
          <td><input type="number" name="system.partyNerve" value="{{ system.partyNerve }}" /></td>
          <td><input type="number" name="system.groupSneak" value="{{ system.groupSneak }}" /></td>
        </tr>
        <tr>
          <td class="status-notes" colspan="4">
            {{editor system.properties target="system.properties" button=true engine="prosemirror"}}
          </td>
        </tr>
        <tr>
          <td colspan="999">Total Penalties: {{ system.penaltyTotal }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
