{{#each medicines as |item id|}}
<div class="box-medicines">
  <li class="item flexrow" data-item-id="{{ item._id }}">
    <table class="perk-table" style="border: solid 1px">
      <tr>
        <td>
          <div class="perk-div">
            <h3>{{ item.name }}</h3>
            <a
              class="item-control"
              data-edit
              data-item-id="{{ item._id }}"
              title="View Item Details"
            >
              <img class="perk-image" src="{{ item.img }}" />
            </a>
          </div>
          <div class="perk-div">
            <i
              style="padding: 3px"
              data-itemsubtraction
              data-item="{{ item._id }}"
              class="fas fa-minus-square"
            ></i>
            {{ system.quantity }}
            <i
              style="padding: 3px"
              data-itemaddition
              data-item="{{ item._id }}"
              class="fas fa-plus-square"
            ></i>
          </div>
          <div class="perk-div">
            <a
              style="float: right; margin-right: 30px; margin-top: -20px"
              class="item-control item-delete"
              title="{{localize 'DOCUMENT.Delete' type='item'}}"
            >
              <i class="fas fa-trash"></i>
            </a>
            {{#DifferentFrom item.system.description ""}}
              <a style="float: right; margin-right: 5px; margin-top: -20px"
              data-sendToChat
              data-item-id="{{ item._id }}"
              class="item-control"
              title="Send description to Chat">
                  <i class="fa-solid fa-comment"></i>
              </a>
          {{/DifferentFrom}}
          </div>
        </td>
      </tr>
    </table>
  </li>
</div>
{{/each}}
