{{!-- <style>
    .collapsible-content {
        display: none;
    }
    .collapsible:hover {
        cursor: pointer;
        color: #007bff;
    }
</style> --}}


        <!-- Armor Slot -->
            {{#each armors as |item id|}}
            <div class='item flexrow' data-item-id='{{item._id}}'>
                <table>
                    <tr>
                        <td>
                            <button class="collapsible allcaps" data-collapsible="true" data-item-id="{{item._id}}">{{item.name}} ARMOR</button>
                        </td>
                    </tr>
                    <tr class="collapsible-content" data-collapsible-content="true" data-item-id="{{item._id}}">
                        <td>
                            <table class="equipped-stats">
                                <tr>
                                    <td>Cost</td>
                                    <td>AC</td>
                                    <td>DT</td>
                                    <td>Slots</td>
                                    <td>Load</td>
                                    <td>STR Req.</td>
                                </tr>
                                <tr>
                                    <td>{{{system.base-cost.value}}}</td>
                                    <td>{{{system.armorClass.value}}}</td>
                                    <td>{{{system.damageThreshold.value}}}</td>
                                    <td>{{{system.slots.value}}}</td>
                                    <td>{{{system.load.value}}}</td>
                                    <td>{{{system.str-req.value}}}</td>
                                </tr>
                            </table>
                            <div class='item-controls'>
                                <a style="float:right;margin-right:10px;" class='item-control item-delete' data-item-id="{{item._id}}" title='{{localize "DOCUMENT.Delete" type=' item'}}'>
                                    <i class='fas fa-trash'></i>
                                </a>
                                <a style="float:right;margin-right:10px;" data-edit data-item-id="{{item._id}}" class='item-control' title='{{localize "DOCUMENT.Update" type=' item'}}'>
                                    <i class='fas fa-edit'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {{/each}}
			
			
        <!-- AMMO Slot -->
		
	<button class="collapsible allcaps" data-collapsible="true" data-item-id="ammo">AMMO</button>		
<table>
		<tr class="collapsible-content" data-collapsible-content="true" data-item-id="ammo">
		<td>
            {{#each ammos as |item id|}}
			<div data-item-id="{{item._id}}" style="float:left;width:24%;border:solid 1px;margin-left:1%;padding:10px;">			
                <div class='item flexrow' data-item-id='{{item._id}}'>
                    <div class='item-controls' style="display:block;margin:auto;">
                        <a data-edit data-item-id="{{item._id}}" class='item-control' title='{{localize "DOCUMENT.Update" type="item"}}'>
                            {{item.name}} ({{system.quantity}})
                        </a>
                        <a class='item-control item-delete' data-item-id="{{item._id}}" title='{{localize "DOCUMENT.Delete" type="item"}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
			</div>
            {{/each}}
        </td>
    </tr>
</table>

	        <!-- Ranged Weapons Slot -->			
            {{#each rangedWeapons as |item id|}}
            <div style="width:48%;display:block;float:left;margin-left:2%;" class='item flexrow' data-item-id='{{item._id}}'>
                <table class="weapontable" style="border:solid 1px;">
                    <tr>
                        <td>
                            <button class="collapsible allcaps" data-collapsible="true" data-item-id="{{item._id}}">{{item.name}}</button>
                        </td>
                    </tr>
                    <tr style="display:table-row;" class="collapsible-content" data-collapsible-content="true" data-item-id="{{item._id}}">
                        <td>
                            <table class="equipped-stats">
                                <tr>
                                    <td colspan=999>DETAILS</td>
                                </tr>
                                <tr>
                                    <td>AP</td>
                                    <td>Dmg</td>
                                    <td>Crit DV</td>
                                    <td>Crit Dmg</td>
                                    <td>Load</td>
                                    <td>Str Req</td>
                                </tr>
                                <tr>
                                    <td>
                                        <button data-weapon-roll data-weapon-id="{{item._id}}">
                                            {{item.system.apCost}}
                                        </button>
                                    </td>
                                    <td>
                                        <button class="rollable resource-label" data-rollable data-label="OUCH! DMG from a {{item.name}}" data-roll="{{item.system.damage.formula}}">
                                            {{item.system.damage.formula}}
                                        </button>
                                    </td>
                                    <td>{{item.system.critical.dice}}</td>
                                    <td>{{item.system.critical.bonus}}</td>
                                    <td>{{item.system.load}}</td>
                                    <td>{{item.system.strengthRequirement}}</td>
                                </tr>
                            </table>
                            <table class="equipped-stats">
                                <tr>
                                    <td colspan=999>RANGE</td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="rollable resource-label" data-weapon-roll data-weapon-id="{{item._id}}" class="resource-label">
                                            IN RANGE
                                        </button>
                                    </td>
                                    <td>
                                        <button class="rollable resource-label" data-weapon-roll data-disadvantage="true" data-weapon-id="{{item._id}}" class="resource-label">
                                            DISADVANTAGED
                                        </button>
                                    </td>
                                    <td>
                                        <button class="rollable resource-label" data-weapon-roll data-weapon-id="{{item._id}}" class="resource-label">
                                            NAT 20 REQ
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>0 - {{item.system.range.short}}ft</td>
                                    <td>{{item.system.range.short}} ft - {{system.range.long}}ft</td>
                                    <td>{{system.range.long}}ft+</td>
                                </tr>
                            </table>
                            <table class="equipped-stats">
                                <tr>
                                    <td colspan=999>CONSUMES</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>Rounds per attack</td>
                                    <td>Item</td>
                                </tr>
                                <tr>
                                    <td>{{item.system.ammo.type}}</td>
                                    <td>{{item.system.ammo.consumes.amount}}</td>
                                    <td>
                                        <select data-set-ammo data-weapon-id="{{item._id}}">
                                            {{selectOptions item.ammos selected=item.system.ammo.consumes.target nameAttr="_id" labelAttr="name" blank="none"}}
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table class="equipped-stats">
                                <tr>
                                    <td colspan=2>AMMO</td>
                                    <td>OWNED</td>
                                </tr>
                                <tr>
                                    <td>{{item.system.ammo.capacity.value}} / {{item.system.ammo.capacity.max}}</td>
                                    <td>
                                        <button data-reload data-weapon-id="{{item._id}}">
                                            RELOAD
                                        </button>
                                    </td>
                                    <td>
                                        {{#each item.ammos as |ammo|}}
                                        {{#if (eq ammo._id item.system.ammo.consumes.target )}}
                                        {{ammo.system.quantity}}
                                        {{/if}}
                                        {{/each}}
                                    </td>
                                </tr>
                            </table>
                            <div class='item-controls'>
                                <a style="float:right;margin-right:10px;" class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' item'}}'>
                                    <i class='fas fa-trash'></i>
                                </a>
                                <a style="float:right;margin-right:10px;" class='item-control' data-edit data-item-id="{{item._id}}" title='{{localize "DOCUMENT.Update" type=' item'}}'>
                                    <i class='fas fa-edit'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {{/each}}
            <!-- MeleeWeapons Slot -->
            {{#each meleeWeapons as |item id|}}
		<div style="width:48%;display:block;float:left;margin-left:2%;" class='item flexrow' data-item-id='{{item._id}}'>
                <table class="weapontable" style="border:solid 1px;">
                    <tr>
                        <td>
                            <button class="collapsible allcaps" data-collapsible="true" data-item-id="{{item._id}}">{{item.name}}</button>
                        </td>
                    </tr>
                    <tr style="display:table-row;" class="collapsible-content" data-collapsible-content="true" data-item-id="{{item._id}}">
                        <td>
                            <table class="equipped-stats">
                                <tr>
                                    <td colspan=999>DETAILS</td>
                                </tr>
                                <tr>
                                    <td>AP</td>
                                    <td>Dmg</td>
                                    <td>Crit DV</td>
                                    <td>Crit Dmg</td>
                                    <td>Load</td>
                                    <td>Str Req</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="rollable resource-label" data-weapon-roll data-weapon-id="{{system._id}}">
                                            {{system.apCost}}
                                        </label>
                                    </td>
                                    <td>
                                        <label class="rollable resource-label" data-rollable data-label="OUCH! DMG from a {{system.name}}" data-roll="{{system.damage.formula}}">
                                            {{system.damage.formula}}
                                        </label>
                                    </td>
                                    <td>{{system.critical.dice}}</td>
                                    <td>{{system.critical.bonus}}</td>
                                    <td>{{system.load}}</td>
                                    <td>{{system.strengthRequirement}}</td>
                                </tr>
                            </table>
                            <table class="equipped-stats">
                                <tr>
                                    <td>Type</td>
                                    <td>Rounds</td>
                                </tr>
                                <tr><td>{{system.ammo.type}}</td>
                                    <td>{{system.ammo.capacity.value}}</td>
                                </tr>
                            </table>
                            <div class='item-controls'>
                                <a style="float:right;margin-right:10px;" class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' item'}}'>
                                    <i class='fas fa-trash'></i>
                                </a>
                                <a style="float:right;margin-right:10px;" data-edit data-item-id="{{item._id}}" class='item-control' title='{{localize "DOCUMENT.Update" type=' item'}}'>
                                    <i class='fas fa-edit'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
                {{/each}}
