<table class="equipped-stats">
    <tr>
        <td style="width:45%;vertical-align:top">
            <h3>Weapons and Armor</h3>
            {{#each rangedWeapons as |item id|}}
            {{#unless item.system.itemEquipped}}
            <span class="context-menu backpack-item"
                  data-item-id="{{ item._id }}"
                  title="{{localize 'DOCUMENT.Update' type='item'}}">
                {{item.name}}({{item.system.quantity}})
            </span>
            {{/unless}}
            {{/each}}
            {{#each meleeWeapons as |item id|}}
            {{#unless item.system.itemEquipped}}
            <span class="context-menu backpack-item"
                  data-item-id="{{ item._id }}"
                  title="{{localize 'DOCUMENT.Update' type='item'}}">
                {{item.name}}({{item.system.quantity}})
            </span>
            {{/unless}}
            {{/each}}
            {{#each armors as |item id|}}
            {{#unless item.system.itemEquipped}}
            <span class="context-menu backpack-item"
                  data-item-id="{{ item._id }}"
                  title="{{localize 'DOCUMENT.Update' type='item'}}">
                {{item.name}}({{item.system.quantity}})
            </span>
            {{/unless}}
            {{/each}}
            {{#each powerArmors as |item id|}}
            {{#unless item.system.itemEquipped}}
            <span class="context-menu backpack-item"
                  data-item-id="{{ item._id }}"
                  title="{{localize 'DOCUMENT.Update' type='item'}}">
                {{item.name}}({{item.system.quantity}})
            </span>
            {{/unless}}
            {{/each}}
        </td>
    </tr>
    {{> "systems/arcane-arcade-fallout/templates/actor/items/ammo.hbs" ammos=ammos}}
</table>

<table class="backpack">
    <tr>
        <td style="width:60%;padding:5px;">
            <table class="equipped-stats">
                <tr><td colspan="999"><h3>Food and Drinks</h3></td></tr>
                <tr><td>Name</td><td style="width:100px;" style="width:100px;">Qty</td><td style="width:150px;">Properties</td><td></td></tr>
                {{#each foodAnddrinks as |item id|}}
                {{#unless item.system.itemEquipped}}
                <tr>
                    <td>
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control"
                                   data-edit
                                   data-item-id="{{ item._id }}"
                                   title="{{localize 'DOCUMENT.Update' type='item'}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                    </td>

                    <td>
                        <i data-itemaddition data-item="{{item._id}}" class="fas fa-plus fakebutton backpack-qty-button"></i>
                        {{ system.quantity }}
                        <i data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus fakebutton backpack-qty-button"></i>

                    </td>
                    <td>{{{item.system.description}}}</td>
                    <td style="width:20px;">
                        <i class="fas fa-ellipsis-v context-menu context-icon" data-item-id="{{ item._id }}"></i>
                </td>
                </tr>
                {{/unless}}
                {{/each}}
            </table>
            <br />
            <table class="equipped-stats">
                <tr><td colspan="999"><h3>Chems</h3></td></tr>
                <tr><td>Name</td><td style="width:100px;">Qty</td><td style="width:150px;">Properties</td><td></td></tr>
                {{#each chems as |item id|}}
                {{#unless item.system.itemEquipped}}
            <tr>
                <td>
                    <li class="item flexrow" data-item-id="{{ item._id }}">
                        <div class="item-controls">
                            <a class="item-control"
                               data-edit
                               data-item-id="{{ item._id }}"
                               title="{{localize 'DOCUMENT.Update' type='item'}}">
                                {{item.name}}
                            </a>
                        </div>
                    </li>
                </td>

                <td>
                    <i data-itemaddition data-item="{{item._id}}" class="fas fa-plus fakebutton backpack-qty-button"></i>
                    {{ system.quantity }}
                    <i data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus fakebutton backpack-qty-button"></i>

                </td>
                <td>{{{item.system.description}}}</td>
                <td style="width:20px;">
                    <i class="fas fa-ellipsis-v context-menu context-icon" data-item-id="{{ item._id }}"></i>
                </td>
            </tr>
                {{/unless}}
                {{/each}}
            </table>
        </td>
        <td style="width:40%;padding:5px;">
            <div>
                <table class="equipped-stats">
                    <tr><td colspan=999><h3>MISC ITEMS</h3></td></tr>
                    <tr><td style="width:20px;"></td><td>Name</td><td style="width:80px" style="width:100px;">Qty</td></tr>
                    {{#each miscItems as |item id|}}
                    {{#unless item.system.itemEquipped}}
                <tr>
                    <td>
                        <i class="fas fa-ellipsis-v context-menu context-icon" data-item-id="{{ item._id }}"></i>
                    </td>
                    <td>
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control"
                                   data-edit
                                   data-item-id="{{ item._id }}"
                                   title="{{localize 'DOCUMENT.Update' type='item'}}">
                                    {{item.name}}
                                </a>
                            </div>
                        </li>
                    </td>

                    <td>
                        <i data-itemaddition data-item="{{item._id}}" class="fas fa-plus fakebutton backpack-qty-button"></i>
                        {{ system.quantity }}
                        <i data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus fakebutton backpack-qty-button"></i>

                    </td>
                </tr>
                    {{/unless}}
                    {{/each}}
                </table>

      </div>
    </td>
  </tr>
</table>
