<style>
    .specialroll {
        text-transform: uppercase;
    }
    .backpack td{
        vertical-align:top;
    }
</style>

<table class="status-block">
    <tr>
        <td class="status-table">
            <table>
                <tr>
                    <td>Healing Rate</td>
                    <td>Combat Sequence</td>
                    <td>Passive Sense</td>
                </tr>
                <tr>
                    <td>
                        <input type="number" name="system.healingRate" value="{{ system.healingRate.value }}" />
                    </td>
                    <td>
                        <input type="number" name="system.combatSequence" value="{{ system.combatSequence.value }}" />
                    </td>
                    <td>
                        <input type="number"
                               name="system.npcPassivesense"
                               value="{{ system.passiveSense.value }}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="height: 400px; text-align: left; padding: 10px;vertical-align:top;">
                                                <!-- Armor Slot -->
                        {{#each armors as |item id|}}
                        {{#if item.system.itemEquipped}}
                        <div class="item flexrow" data-item-id="{{ item._id }}">
                            <table>
                                <tr>
                                    <td>
                                      <h3 class="allcaps context-menu" data-item-id="{{ item._id }}">{{ item.name }}</h3>
                                    </details>
</div>
                        </t>
                </tr>
            </table>
            </div>
            {{/if}}
            {{/each}}
                                    <!-- Armor Slot -->
                        {{#each powerArmors as |item id|}}
                        {{#if item.system.itemEquipped}}
                        <div class="item flexrow" data-item-id="{{ item._id }}">
                            <table>
                                <tr>
                                    <td>
                                      <h3 class="allcaps context-menu" data-item-id="{{ item._id }}">{{ item.name }}</h3>
                                    </details>
</div>
                        </t>
                </tr>
            </table>
            </div>
            {{/if}}
            {{/each}}
      {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-ranged-weapons.hbs"
            rangedWeapons=rangedWeapons
            abilities=system.abilities
            skills=system.skills
      }}

                 {{>
            "systems/arcane-arcade-fallout/templates/actor/items/equipped-melee-weapons.hbs"
            meleeWeapons=meleeWeapons
            abilities=system.abilities
            skills=system.skills
      }}
            {{#each explosives as |item id|}}
            <div style="width:49%;float: left; padding: 5px"
                 class="item flexrow"
                 data-item-id="{{ item._id }}">
                <table class="item-box">
                    <tr>
                        <td>
                            <details {{#if item.system.itemOpen }} open="true" {{/if}}>
                                <summary data-expandtoggle data-itemid="{{ item._id }}">
                                    <p class="allcaps">{{ item.name }}</p>
                                </summary>
                                <table class="equipped-stats">
                                    <tr>
                                        <td>Cost</td>
                                        <td>Load</td>
                                        <td>Qty</td>
                                    </tr>
                                    <tr>
                                        <td>{{ item.system.cost }}</td>
                                        <td>{{ item.system.load }}</td>
                                        <td>
                                            <i style="padding: 3px"
                                               data-itemsubtraction
                                               data-item="{{ item._id }}"
                                               class="fas fa-minus-square"></i>
                                            {{ item.system.quantity }}
                                            <i style="padding: 3px"
                                               data-itemaddition
                                               data-item="{{ item._id }}"
                                               class="fas fa-plus-square"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fakebutton"
                                                 class="resource-label"
                                                 data-ap-used
                                                 data-weapon-id="{{ item._id }}"
                                                 class="resource-label">
                                                AP
                                            </div>
                                        </td>
                                        <td>Range</td>
                                        <td rowspan="2">
                                            {{#GreaterThan ../skills.explosives.value item.system.armDC}}
                                            Auto Succeeds
                                            {{else}}
                                            {{#GreaterThan item.system.armDC 1}}
                                            <div class="rollable resource-label fakebutton"
                                                 style="padding-top: 15px; padding-bottom: 15px"
                                                 data-rollable
                                                 data-label="Attempt to Arm a {{ item.name }} They'll need to match or beat a {{#Sum item.system.armDC 10}}{{/Sum}}"
                                                 data-roll="d20+ {{../skills.explosives.value}}+@per.mod - @penaltyTotal"
                                                 title="d20 + explosives({{../skills.explosives.value}}) - penalties({{../penaltyTotal}})" />
                                            ARM DC: {{#Sum item.system.armDC 10}}{{/Sum}}
                                            {{else}}
                                            Auto Succeeds
                                            {{/GreaterThan}}
                                            {{/GreaterThan}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ item.system.apCost }}</td>
                                        <td>{{#GreaterThan item.system.thrown 1}}{{ item.system.thrown }}ft.{{else}}NA{{/GreaterThan}}</td>
                                    </tr>
                                </table>

                                <table class="equipped-stats">
                                    <tr>
                                        <td>
                                            <span class="condition" data-condition="Area_of_Effect">AOE: {{ item.system.aoeRadius }}</span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="equipped-stats">
                                    <tr>
                                        <td colspan="999">Damage Calculation</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 75px">DMG 1</td>
                                        <td>Type</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="fakebutton"
                                                 class="rollable resource-label"
                                                 data-rollable
                                                 data-label="KABOOM! <span class='allcaps'>{{ item.system.damageType1    }}</span> DMG from a {{ item.name }}"
                                                 data-roll="{{ item.system.damage1 }}">
                                                {{ item.system.damage1 }}
                                            </div>
                                        </td>
                                        <td class="allcaps">
                                            {{ item.system.damageType1 }}
                                        </td>
                                    </tr>
                                    {{#if item.system.damage2 }}
                                </table>
                                <table class="equipped-stats">
                                    <tr>
                                        <td style="width: 75px">DMG 2</td>
                                        <td>Type</td>
                                    </tr>
                                    <td>
                                        <div class="fakebutton"
                                             class="rollable resource-label"
                                             data-rollable
                                             data-label="KABOOM! <span class='allcaps'>{{item.system.damageType2}}</span> DMG from a {{ item.name }}"
                                             data-roll="{{ item.system.damage2 }}">
                                            {{ item.system.damage2 }}
                                        </div>
                                    </td>
                                    <td class="allcaps">
                                        {{ item.system.damageType2 }}
                                    </td>
                                    {{/if}}
                                </table>
                    <tr>
                        <td colspan="999" class="context-menu" data-item-id="{{ item._id }}">
                            <i class="fas fa-ellipsis context-icon"></i>
                        </td>
                    </tr>
                    </details>
                    </td>
                    </tr>
                </table>
            </div>
            {{/each}}
        </td>
    </tr>
    <tr>
        <td colspan="999">
            {{#each medicines as |item id|}}
            <li class="item flexrow" data-item-id="{{ item._id }}">
                <a class="item-control"
                   style="width:33%;float:left;"
                   data-edit
                   data-item-id="{{ item._id }}"
                   title="View Item Details">
                    <h3>{{ item.name }}: {{system.quantity}}</h3>
                </a>
            </li>

            {{/each}}

        </td>
    </tr>
    <tr>
        <td colspan="999">
            <details>
                <summary>Backpack</summary>
                <table class="backpack">
                    <tr>
                        <td style="width:60%;padding:5px;">
                            <table class="equipped-stats">
                                <tr><td colspan="999"><h3>Food and Drinks</h3></td></tr>
                                <div>
                                <tr><td>Name</td><td>Qty</td><td>Properties</td><td></td></tr>
                                {{#each foodAnddrinks as |item id|}}
                                <tr>
                                    <td style="width: 100px">
                                        <a class="item-control"
                                           data-edit
                                           data-item-id="{{ item._id }}"
                                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                                            {{ item.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ system.quantity }}
                                    </td>

                                    <td data-properties="{{item.system.description}}">
                                        {{{ item.system.description }}}
                                    </td>
                                    <td class="td-controls" style="padding:0px;margin:0px;">
                                        <li class="item flexrow" data-item-id="{{ item._id }}">
                                            <div class="item-controls">
                                                <a class="item-control item-delete"
                                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                            </div><br />
                            <table class="equipped-stats">
                                <tr><td colspan=999><h3>CHEMS</h3></td></tr>
                                <tr><td>Name</td><td>Qty</td><td>Properties</td><td></td></tr>
                                {{#each chems as |item id|}}
                                <tr>
                                    <td style="width: 100px">
                                        <a class="item-control"
                                           data-edit
                                           data-item-id="{{ item._id }}"
                                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                                            <span class="label"> {{ item.name }}</span>
                                        </a>
                                    </td>
                                    <td>
                                        {{ system.quantity }}
                                    </td>

                                    <td>
                                        {{{ item.system.description }}}
                                    </td>
                                    <td class="td-controls">
                                        <li class="item flexrow" data-item-id="{{ item._id }}">
                                            <div class="item-controls">
                                                <a class="item-control item-delete"
                                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </td>
                        <td style="width:40%;padding:5px;">
                            <div>
                                <table class="equipped-stats">
                                    <tr>
                                        <td colspan=999>
                                            <h3>MISC ITEMS</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>Qty</td>
                                        <td></td>
                                    </tr>
                                    {{#each miscItems as |item id|}}
                                    <tr>
                                        <td class="item-label">
                                            <span class="label" style="margin-right: 5px">
                                                <a class="item-control"
                                                   data-edit
                                                   data-item-id="{{ item._id }}"
                                                   title="{{localize 'DOCUMENT.Update' type='item'}}">
                                                    {{item.name}}
                                                </a>
                                            </span>
                                        </td>

                                        <td>
                                            {{ system.quantity }}
                                        </td>
                                        <td class="td-controls">
                                            <li class="item flexrow" data-item-id="{{ item._id }}">
                                                <div class="item-controls">
                                                    <a class="item-control item-delete"
                                                       title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </td>
                        </td>
                    </tr>
                    {{/each}}
                </table>

                </div>
            </details>
        </td>
    </tr>
</table>
<table class="backpack">
    <tr>
        <td style="padding-right:10px;width:40%">
            <table class="equipped-stats">
                <tr><td colspan="999"><h3>Materials</h3></td></tr>
                <tr><td>Name</td><td>Qty</td><td></td></tr>
                {{#each materials as |item id|}}
                <tr>
                    <td>
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                            {{item.name}}
                        </a>
                    </td>
                    <td style="width:80px">
                        <i style="padding:3px;" data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus-square"></i>
                        {{ system.quantity }}
                        <i style="padding:3px;" data-itemaddition data-item="{{item._id}}" class="fas fa-plus-square"></i>
                    </td>
                    <td class="td-controls">
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control item-delete"
                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    </td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table class="equipped-stats">
                <tr><td colspan=999><h3>junk</h3></td></tr>
                <tr><td>Name</td><td>Qty</td><td>Materials</td><td></td></tr>
                {{#each junk as |item id|}}
                <tr>
                    <td>
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                            {{item.name}}
                        </a>
                    </td>
                    <td style="width:80px;">
                        <i style="padding:3px;" data-itemsubtraction data-item="{{item._id}}" class="fas fa-minus-square"></i>
                        {{ system.quantity }}
                        <i style="padding:3px;" data-itemaddition data-item="{{item._id}}" class="fas fa-plus-square"></i>
                    </td>

                    <td>
                        {{#if (gt system.junk.quantity1 0)}} {{ system.junk.type1 }} ({{ system.junk.quantity1 }}){{/if}}
                        {{#if (gt system.junk.quantity2 0)}} {{ system.junk.type2 }} ({{ system.junk.quantity2 }}){{/if}}
                        {{#if (gt system.junk.quantity3 0)}} {{ system.junk.type3 }} ({{ system.junk.quantity3 }}){{/if}}
                    </td>
                    <td class="td-controls">
                        <li class="item flexrow" data-item-id="{{ item._id }}">
                            <div class="item-controls">
                                <a class="item-control item-delete"
                                   title="{{localize 'DOCUMENT.Delete' type='item'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a class="item-control" data-junkToMat data-item-id="{{ item._id }}"
                                   title="Convert Junk to Materials">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                </a>
                            </div>
                        </li>
                    </td>
                </tr>
                {{/each}}
            </table>
            <div>
</table>


        </td>
    </tr>
</table>
<tr>
    <td colspan="4" style="background:#222;height: 400px; text-align: left; padding: 10px">
       {{{system.properties}}}
    </td>
</tr>
        </td>
    </tr>
</table>
