<form autocomplete="off">
  <div class="character{{#isVaultTec}} vaulttec {{/isVaultTec}}{{log game.settings}}{{ cssClass }} {{ actor.type }} flexcol">
      {{log cssClass}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        {{#GM}}
        <span data-tooltip="Toggle if a Character is Active For Party Bonuses"
          >Active:<i
            data-activeCheck
            class="fas fa-toggle-{{#if system.activePartymember}}on{{else}}off{{/if}}"
          ></i
        ></span>
        {{/GM}}
        <span data-tooltip="Toggle Edit Mode"
          >Edit:<i
            data-editToggle
            class="fas fa-toggle-{{#if system.editToggle}}on{{else}}off{{/if}}"
          ></i
        ></span>
          {{#unless system.editToggle}}
            <style>
            .edit-icon{
                display:none;
            }
            </style>
            {{/unless}}
                      <span style="float:right;" data-tooltip="Toggle Audio Sounds Mode">
                <i data-audioToggle
                        class="fas fa-volume-{{#PlaySounds}}up{{else}}mute{{/PlaySounds}}"></i>
            </span>
        <table>
          <tr>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/bio.hbs"
                name=actor.name
                races=races
                backgrounds=backgrounds
                level=system.level
                xp=system.xp
                carryLoad=system.carryLoad
              }}
            </td>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/status.hbs"
                health=system.health
                stamina=system.stamina
                actionPoints=system.actionPoints
                armorClass=system.armorClass
                damageThreshold=system.damageThreshold
              }}
            </td>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/image.hbs"
                actor=actor
                caps=system.caps
              }}
            </td>
          </tr>
        </table>
      </div>
    </header>
    <div class="karmaCaps">
      {{>
        "systems/arcane-arcade-fallout/templates/actor/heading/karmaCaps.hbs"
        karmaCaps=system.karmaCaps
      }}
    </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item allcaps" data-tabs data-tab="status">{{localize 'FALLOUTZERO.Common.Status'}}</a>
        <a class="item allcaps" data-tabs data-tab="perks">{{localize 'FALLOUTZERO.Common.Perks'}}</a>
        <a class="item allcaps" data-tabs data-tab="items">{{localize 'FALLOUTZERO.Common.Combat'}}</a>
        <a class="item allcaps" data-tabs data-tab="medicine">{{localize 'FALLOUTZERO.Common.Aid'}}</a>
        <a class="item allcaps" data-tabs data-tab="backpack">{{localize 'FALLOUTZERO.Common.Backpack'}}</a>
        <a class="item allcaps" data-tabs data-tab="backpack" data-crafting-bench>{{localize 'FALLOUTZERO.Common.Crafting'}}</a>
        <a class="item allcaps" data-tabs data-tab="effects">{{localize 'FALLOUTZERO.Common.Effects'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center"></div>
      </div>
      {{!-- Owned status Tab --}}
      <div class="tab status" data-group="primary" data-tab="status">
        <section>
          {{>
            "systems/arcane-arcade-fallout/templates/actor/status/special.hbs"
            abilities=system.abilities
          }}
          <table class="status-block">
            <tr>
              <td class="skill-table">
                {{>
                    "systems/arcane-arcade-fallout/templates/actor/status/skills.hbs"
                    startingSkillpoints=system.startingSkillpoints
                    skillPool=system.skillPool
                    skills=system.skills
                    abilities=system.abilities
                    penaltyTotal=system.penaltyTotal
                }}
              </td>

              <td class="status-table">
                {{>
                    "systems/arcane-arcade-fallout/templates/actor/status/penalties.hbs"
                    penalties=system.penalties
                    penaltyTotal=system.penaltyTotal
                    radDC=system.radDC
                    irradiated=system.irradiated
                }}
                <br />
                {{>
                    "systems/arcane-arcade-fallout/templates/actor/status/passives.hbs"
                    healingRate=system.healingRate
                    combatSequence=system.combatSequence.value
                    fatigue=system.penalties.fatigue
                    passiveSense=system.passiveSense
                    partyNerve=system.partyNerve
                    groupSneak=system.groupSneak
                    properties=system.properties
                    penaltyTotal=system.penaltyTotal
                }}

                 
              </td>
            </tr>
          </table>
        </section>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-items.hbs"}}
      </div>

      {{!-- Perks Tab --}}
      <div class="tab perks" data-group="primary" data-tab="perks">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-perks.hbs"}}
      </div>

      {{!-- Medicine Tab --}}
      <div class="tab medicine" data-group="primary" data-tab="medicine">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-medicines.hbs"}}
      </div>

      {{!-- Backpack Tab --}}
      <div class="tab backpack" data-group="primary" data-tab="backpack">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-backpack.hbs"}}
      </div>

      {{!-- Crafting Tab --}}
      <div class="tab crafting" data-group="primary" data-tab="crafting">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-crafting.hbs"}}
      </div>

      {{!-- DRDV Tab --}}
      <div class="tab" data-group="primary" data-tab="drdv">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-drdv.hbs"}}
      </div>

      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">
        
      </div>
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-effects.hbs"}}
      </div>
    </section>
  </div>
</form>
{{log actor}}
