<form autocomplete="off">
  <div class="{{ cssClass }} {{ actor.type }} flexcol">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <table>
          <tr>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/bio.hbs"
                name=actor.name
                races=races
                backgrounds=backgrounds
                level=system.level
                xp=system.xp
                carryLoad=system.carryLoad
              }}
            </td>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/status.hbs"
                health=system.health
                stamina=system.stamina
                actionPoints=system.actionPoints
                armorClass=system.armorClass
                damageThreshold=system.damageThreshold
              }}
            </td>
            <td>
              {{> 
                "systems/arcane-arcade-fallout/templates/actor/heading/image.hbs"
                actor=actor
                caps=system.caps
              }}
            </td>
          </tr>
        </table>
      </div>
    </header>
    <div class="karmaCaps">
      {{> "systems/arcane-arcade-fallout/templates/actor/heading/karmaCaps.hbs"}}
    </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="status">STATUS</a>
      <a class="item" data-tab="perks">PERKS</a>
      <a class="item" data-tab="items">COMBAT</a>
      <a class="item" data-tab="medicine">AID</a>
      <a class="item" data-tab="backpack">BACKPACK</a>
      <a class="item" data-tab="crafting">CRAFTING</a>
      {{#GM}}<a class="item" data-tab="effects">EFFECTS</a>{{/GM}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center"></div>
      </div>
      {{!-- Owned status Tab --}}
      <div class="tab status" data-group="primary" data-tab="status">
        <section>
          {{!-- For the main status list, span the right two columns --}}
          <section>
            <table>
              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <label
                    for="system.abilities.{{ key }}.value"
                    class="resource-label rollable flexlarge align-left"
                    data-rollable
                    data-roll="d20+{{ ability.mod }}-@penaltyTotal"
                    data-label="{{ ability.label }}"
                    >{{ ability.label }}</label
                  >
                </td>
                {{/each}}
              </tr>

              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <input
                    data-set-{{key}}
                    type="number"
                    name="system.abilities.{{ key }}.value"
                    value="{{ ability.value }}"
                    data-dtype="Number"
                    min="0"
                  />
                </td>
                {{/each}}
              </tr>
              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <span class="ability-mod" data-label="{{ ability.label }}">
                    {{numberFormat ability.mod decimals=0 sign=true }}
                  </span>
                </td>
                {{/each}}
              </tr>
            </table>

            {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and	defined in module/helpers/templates.mjs --}}
            {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-status.hbs"}}
          </section>
        </section>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-items.hbs"}}
      </div>

      {{!-- Owned Perks Tab --}}
      <div class="tab perks" data-group="primary" data-tab="perks">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-perks.hbs"}}
      </div>

      {{!-- Owned Perks Tab --}}
      <div class="tab medicine" data-group="primary" data-tab="medicine">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-medicines.hbs"}}
      </div>

      {{!-- Backpack Tab --}}
      <div class="tab backpack" data-group="primary" data-tab="backpack">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-backpack.hbs"}}
      </div>

      {{!-- Crafting Tab --}}
      <div class="tab crafting" data-group="primary" data-tab="crafting">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-crafting.hbs"}}
      </div>
      {{#GM}}
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-effects.hbs"}}
      </div>
      {{/GM}}
    </section>
  </div>
</form>

{{log system}}
