<form autocomplete="off">
  <div class="{{ cssClass }} {{ actor.type }} flexcol">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <form autocomplete="off">
          <table>
            <tr>
              <td style="width: 250px" class="left">
                <table class="bio">
                  <tr>
                      <td colspan="2">
                          <table>
                              <tr>
                                  <td class="profile-image-td" style="margin: 10px; padding-top: 0px">
                                      <img src="{{ actor.img }}" data-edit="img" title="{{ actor.name }}" /><br />
                                      <input type="text" name="name" value="{{ actor.name }}" />
                                      {{#GreaterThan system.level 2}}LVL:{{system.level}}{{/GreaterThan}}
                                  </td>
                              </tr>
                              <tr></tr>
                              <tr>
                                  <td>
                                      <div class="fakebutton" data-npc-loot title="Send loot to chat">
                                          <i class="fa-regular">LOOT</i>
                                      </div>
                                      <div class="condition-box" style="min-height:50px;max-height:100px;overflow:scroll;overflow-x:hidden;">
                                          {{#each conditions as |item condition|}}
                                          {{#GreaterThan system.quantity 1}}
                                          <div class="active-conditions">
                                              <li class="item flexrow" data-item-id="{{ item._id }}">
                                                  <div class="item-controls individual-condition" style="padding:0px;">
                                                      {{#GreaterThan system.quantity 2}} {{system.quantity}}{{/GreaterThan}}<br />
                                                      <a class="item-control"
                                                         data-edit
                                                         data-item-id="{{ item._id }}"
                                                         title="{{item.name}}">
                                                          <img class="condition-icon" src="{{ item.img }}" title="{{ item.name }}" />
                                                      </a><br />
                                                      <a class="item-control item-delete">
                                                          <i class="fa fa-close"></i>
                                                      </a>
                                                  </div>
                                              </li>
                                          </div>
                                          {{/GreaterThan}}
                                          {{/each}}
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                      <td>
                          <table>
                              <tr>
                                  <td>
                                      <table class="character-status" style="max-width:400px;">
                                          <tr>
                                              <td colspan="2">
                                                  <span class="status-label">HP</span>
                                                  <i data-health="minus" class="fas fa-minus-square"></i>
                                                  <i data-health="plus" class="fas fa-plus-square"></i>
                                                  <progress style="width: 80%; float: right"
                                                            class="statusbar health"
                                                            value="{{ system.health.value }}"
                                                            max="{{ system.health.max }}">
                                                      {{ system.health.value }}
                                                  </progress>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="statusnum" colspan="2">
                                                  <input type="number"
                                                         class="numberwithbuttons"
                                                         name="system.health.value"
                                                         value="{{ system.health.value }}" />
                                                  /
                                                  <input type="number"
                                                         class="numberwithbuttons"
                                                         name="system.health.max"
                                                         value="{{ system.health.max }}" />
                                              </td>
                                          </tr>
                                          <tr>
                                              <td colspan="2">
                                                  <span class="status-label">SP</span>
                                                  <i data-stamina="minus" class="fas fa-minus-square"></i>
                                                  <i data-stamina="plus" class="fas fa-plus-square"></i>
                                                  <progress style="width: 80%; float: right"
                                                            class="statusbar stamina"
                                                            value="{{ system.stamina.value }}"
                                                            max="{{ system.stamina.max }}">
                                                      {{ system.stamina.value }}
                                                  </progress>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td colspan="2" class="statusnum">
                                                  <input type="number" name="system.stamina.value" value="{{ system.stamina.value }}" />
                                                  /

                                                  <input type="number" name="system.stamina.max" value="{{ system.stamina.max }}" />
                                              </td>
                                          </tr>
                                          <tr>
                                              <td colspan="2">
                                                  <span class="status-label">AP</span>
                                                  <i data-action="minus" class="fas fa-minus-square"></i>
                                                  <i data-action="plus" class="fas fa-plus-square"></i>
                                                  <progress style="width: 80%; float: right"
                                                            class="statusbar stamina"
                                                            value="{{ system.actionPoints.value }}"
                                                            max="{{ system.actionPoints.max }}">
                                                      {{ system.actionPoints.value }}
                                                  </progress>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td colspan="2" class="statusnum">
                                                  <input type="number"
                                                         name="system.actionPoints.value"
                                                         value="{{ system.actionPoints.value }}" />
                                                  /
                                                  <input type="number" name="system.actionPoints.max" value="{{ system.actionPoints.max }}" />
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <div class="fakebutton" data-recycle-ap title="Refresh AP During Combat">
                                                      <i class="fa-solid fa-recycle"></i>
                                                  </div>
                                              </td>
                                              <td>
                                                  <div class="fakebutton" data-refill-ap title="Refresh AP Outside of Combat">
                                                      <i class="fa-regular fa-arrow-up-right-dots"></i>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <input id="armorClass-form"
                                                         type="number"
                                                         name="system.armorClass.value"
                                                         value="{{ system.armorClass.value }}" />AC
                                              </td>
                                              <td>
                                                  <input id="damageThreshold-form"
                                                         type="number"
                                                         name="system.damageThreshold.value"
                                                         value="{{ system.damageThreshold.value }}" />DT
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>


                      </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tab="status">STATUS</a>
      <a class="item" data-tab="perks">PERKS</a>
      <a class="item" data-tab="items">COMBAT</a>
      <a class="item" data-tab="medicine">AID</a>
      <a class="item" data-tab="backpack">BACKPACK</a>
      <a class="item" data-tab="crafting">CRAFTING</a>
      <a class="item" data-tab="notes">NOTES</a>
      {{#GM}}<a class="item" data-tab="effects">EFFECTS</a>{{/GM}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center"></div>
      </div>
      {{!-- Owned status Tab --}}
      <div class="tab status" data-group="primary" data-tab="status">
        <section>
          {{!-- For the main status list, span the right two columns --}}
          <section>
            <table>
              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <label
                    for="system.abilities.{{ key }}.value"
                    class="resource-label rollable flexlarge align-left"
                    data-rollable
                    data-roll="d20+{{ ability.mod }}-{{ ../system.penaltyTotal }}"
                    data-label="{{ ability.label }}"
                    >{{ ability.label }}</label
                  >
                </td>
                {{/each}}
              </tr>

              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <input
                    type="number"
                    name="system.abilities.{{ key }}.value"
                    value="{{ ability.value }}"
                    data-dtype="Number"
                    min="0"
                    max="10"
                  />
                </td>
                {{/each}}
              </tr>
              <tr>
                {{#each system.abilities as |ability key|}}
                <td>
                  <span class="ability-mod" data-label="{{ ability.label }}">
                    {{numberFormat ability.mod decimals=0 sign=true}}</span
                  >
                </td>
                {{/each}}
              </tr>
            </table>

            {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and
					defined in module/helpers/templates.mjs --}}
            {{> "systems/arcane-arcade-fallout/templates/actor/parts/npc-status.hbs"}}
          </section>
        </section>
      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-items.hbs"}}
      </div>

      {{!-- Perks Tab --}}
      <div class="tab perks" data-group="primary" data-tab="perks">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-perks.hbs"}}
      </div>

      {{!-- Medicine Tab --}}
      <div class="tab medicine" data-group="primary" data-tab="medicine">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-medicines.hbs"}}
      </div>

      {{!-- Backpack Tab --}}
      <div class="tab backpack" data-group="primary" data-tab="backpack">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-backpack.hbs"}}
      </div>

      {{!-- Crafting Tab --}}
      <div class="tab crafting" data-group="primary" data-tab="crafting">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-crafting.hbs"}}
      </div>
      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-notes.hbs"}}
      </div>

      {{#GM}}
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-effects.hbs"}}
      </div>
      {{/GM}}	  
    </section>
  </div>
</form>

{{log system}}
