<form autocomplete="off">
  <div class="character{{#isVaultTec}} vaulttec {{/isVaultTec}}{{ cssClass }} {{ actor.type }} flexcol">
      {{log cssClass}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <span data-tooltip="Toggle Edit Mode">
                Edit:<i data-editToggle
                        class="fas fa-toggle-{{#if system.editToggle}}on{{else}}off{{/if}}"></i>
            </span>
            <span style="float:right;" data-tooltip="Toggle Audio Sounds Mode">
                <i data-audioToggle
                        class="fas fa-volume-{{#PlaySounds}}up{{else}}mute{{/PlaySounds}}"></i>
            </span>
            <table>
                <tr>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/bio.hbs"
                name=actor.name
                races=races
                backgrounds=backgrounds
                level=system.level
                xp=system.xp
                carryLoad=system.carryLoad
                        }}
                        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-drdv.hbs"}}
                        <div class="dr-dv grid grid-5col">
                            <div data-tooltip="Healing Rate <hr> {{system.healingRate.value}} (End + Lvl)/2 &#013;Modifiers: {{system.healingRate.modifiers}} &#013;Manual Edits: {{system.healingRate.base}}"><i class="fas fa-heart"></i></div>
                            <div data-tooltip="Combat Sequence <hr> To Roll Intiative, Utilize Combat Tracker"><i class="fas fa-dice-d20"></i></div>
                            <div data-tooltip="Passive Sense <hr> 12 + Perception Mod ( {{system.abilities.per.mod}} ) {{#DifferentFrom system.passiveSense.base 0}} + Manual adjustments ({{system.passiveSense.base}}){{/DifferentFrom}} {{#DifferentFrom system.passiveSense.modifiers 0}} + Effects ( {{system.passiveSense.modifiers}} ){{/DifferentFrom}}">
                                <i class="fas fa-eye"></i>
                            </div>
                            <div class="rollable"
                                 data-roll-save="{{system.radiationDC.value}}"
                                 data-save-type="radiation"
                                 data-tooltip="Radiation DC <hr> D20 - PenaltyTotal({{penaltyTotal}}) against Radiation. Roll {{system.radiationDC.value}} or higher to succeed. On Fail gain level of Radiation">
                                <i class="fas fa-radiation-alt"></i>
                            </div>
                            <div data-tooltip="Total Penalties to subtract from rolls">
                                <i class="fas fa-skull"></i>
                            </div>
                            <div>
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statSubtraction
                                                            data-stat="healingRate"
                                                            data-type=""
                                                            class="fas fa-minus-square  nobackground"></i>{{/if}}
                                {{system.healingRate.value}}
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statAddition
                                                            data-stat="healingRate"
                                                            data-type=""
                                                            class="fas fa-plus-square  nobackground"></i>{{/if}}
                            </div>
                            <div>
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statSubtraction
                                                            data-stat="combatSequence"
                                                            data-type=""
                                                            class="fas fa-minus-square  nobackground"></i>{{/if}}
                                {{system.combatSequence.value}}
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statAddition
                                                            data-stat="combatSequence"
                                                            data-type=""
                                                            class="fas fa-plus-square  nobackground"></i>{{/if}}
                            </div>
                            <div>
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statSubtraction
                                                            data-stat="passiveSense"
                                                            data-type=""
                                                            class="fas fa-minus-square  nobackground"></i>{{/if}}
                                {{system.passiveSense.value}}
                                {{#if system.editToggle}}<i style="font-size:7pt"
                                                            data-statAddition
                                                            data-stat="passiveSense"
                                                            data-type=""
                                                            class="fas fa-plus-square  nobackground"></i>{{/if}}
                            </div>
                            <div style="vertical-align:middle;">
                                {{system.radiationDC.value}}
                            </div>
                            <div>
                                {{#if system.editToggle}}
                                <i style="font-size:7pt"
                                   data-statSubtraction
                                   data-stat="hunger"
                                   data-type="penalties"
                                   class="fas fa-minus-square  nobackground"></i>
                                {{system.penalties.hunger.value}}
                                <i style="font-size:7pt"
                                   data-statAddition
                                   data-stat="hunger"
                                   data-type="penalties"
                                   class="fas fa-plus-square  nobackground"></i>
                                {{/if}}
                            </div>
                        </div>

                    </td>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/status.hbs"
                health=system.health
                stamina=system.stamina
                actionPoints=system.actionPoints
                armorClass=system.armorClass
                damageThreshold=system.damageThreshold
                        }}
                    </td>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/image.hbs"
                actor=actor
                caps=system.caps
                        }}
                    </td>
                </tr>
            </table>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tabs data-tab="status">STATUS</a>
      <a class="item" data-tabs data-tab="backpack">BACKPACK</a>
      <a class="item" data-tabs data-tab="effects">EFFECTS</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center"></div>
      </div>
      {{!-- Owned status Tab --}}
      <div class="tab status" data-group="primary" data-tab="status">
          <section>
              {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-items.hbs"}}
              {{> "systems/arcane-arcade-fallout/templates/actor/status/special.hbs"
                     abilities=system.abilities
               }}
              <div class="grid grid-10col">
                <div class="grid-span-3">
                {{>
                    "systems/arcane-arcade-fallout/templates/actor/status/skills.hbs"
                    startingSkillpoints=system.startingSkillpoints
                    skillPool=system.skillPool
                    skills=system.skills
                    abilities=system.abilities
                    penaltyTotal=system.penaltyTotal
                 }}
                    </div>
             <div class="grid-span-7">
                {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-npc-notes.hbs"}}
            </div>
                  </div>
          </section>
      </div>

      {{!-- Backpack Tab --}}
      <div class="tab backpack" data-group="primary" data-tab="backpack">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-backpack.hbs"}}
      </div>
      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">
      </div>
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-effects.hbs"}}
      </div>
    </section>
  </div>
</form>
{{log actor}}
