<form autocomplete="off">
  <div class="character{{#isVaultTec}} vaulttec {{/isVaultTec}}{{ cssClass }} {{ actor.type }} flexcol">
      {{log cssClass}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <span data-tooltip="Toggle Edit Mode">
                Edit:<i data-editToggle
                        class="fas fa-toggle-{{#if system.editToggle}}on{{else}}off{{/if}}"></i>
            </span>
            <span style="float:right;" data-tooltip="Toggle Audio Sounds Mode">
                <i data-audioToggle
                        class="fas fa-volume-{{#PlaySounds}}up{{else}}mute{{/PlaySounds}}"></i>
            </span>
            <table>
                <tr>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/bio.hbs"
                name=actor.name
                races=races
                backgrounds=backgrounds
                level=system.level
                xp=system.xp
                carryLoad=system.carryLoad
                        }}
                    </td>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/status.hbs"
                health=system.health
                stamina=system.stamina
                actionPoints=system.actionPoints
                armorClass=system.armorClass
                damageThreshold=system.damageThreshold
                        }}
                    </td>
                    <td>
                        {{>
                "systems/arcane-arcade-fallout/templates/actor/npc-heading/image.hbs"
                actor=actor
                caps=system.caps
                        }}
                    </td>
                </tr>
            </table>
        </div>
        {{> "systems/arcane-arcade-fallout/templates/actor/status/special.hbs"
           abilities=system.abilities
         }}
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="item" data-tabs data-tab="status">STATUS</a>
      <a class="item" data-tabs data-tab="backpack">BACKPACK</a>
      <a class="item" data-tabs data-tab="effects">EFFECTS</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center"></div>
      </div>
      {{!-- Owned status Tab --}}
      <div class="tab status" data-group="primary" data-tab="status">
          <section>
              {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-items.hbs"}}
              {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-drdv.hbs"}}
          </section>
      </div>

      {{!-- Backpack Tab --}}
      <div class="tab backpack" data-group="primary" data-tab="backpack">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-backpack.hbs"}}
      </div>
      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">
      </div>
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arcane-arcade-fallout/templates/actor/parts/actor-effects.hbs"}}
      </div>
    </section>
  </div>
</form>
{{log actor}}
