<tr>
    <td>
        {{#each ammos as |item id|}}
                <li 
                   class="context-menu backpack-item item"
                   data-item-id="{{ item._id }}"
                      draggable="true"
                   data-tooltip="{{localize 'DOCUMENT.Update' type='item'}}">
                    {{item.name}}({{item.system.quantity}})
                </li>
        {{/each}}
    </td>
</tr>
<tr>
    <td>
        {{#each explosives as |item id|}}
        <li
              class="context-menu backpack-item item"
              data-item-id="{{ item._id }}"
              draggable="true"
              data-tooltip="{{localize 'DOCUMENT.Update' type='item'}}">
            {{item.name}}({{item.system.quantity}})
        </li>

        {{/each}}
    </td>
</tr>
