<tr>
    <td>
        {{#each ammos as |item id|}}
                <span 
                   class="context-menu backpack-item"
                   data-item-id="{{ item._id }}"
                      draggable="true"
                   title="{{localize 'DOCUMENT.Update' type='item'}}">
                    {{item.name}}({{item.system.quantity}})
                </span>
        {{/each}}
    </td>
</tr>
<tr>
    <td>
        {{#each explosives as |item id|}}
        <span
              class="context-menu backpack-item"
              data-item-id="{{ item._id }}"
              draggable="true"
              title="{{localize 'DOCUMENT.Update' type='item'}}">
            {{item.name}}({{item.system.quantity}})
        </span>

        {{/each}}
    </td>
</tr>
