<table class="item-box ammo-box">
  <tr>
    <td>
        {{#each ammos as |item id|}}
        <div style="float: left" data-item-id="{{ item._id }}">
          <div class="item flexrow" data-item-id="{{ item._id }}">
            <div class="item-controls">
              <a
                data-edit
                data-item-id="{{ item._id }}"
                class="item-control"
                title="{{localize 'DOCUMENT.Update' type='item'}}"
              >
                {{ item.name }} ({{ item.system.quantity }})
              </a>
              <a
                class="item-control item-delete"
                data-item-id="{{ item._id }}"
                title="{{localize 'DOCUMENT.Delete' type='item'}}"
              >
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
        {{/each}}
    </td>
  </tr>
</table>
