    <!-- Armor Slot -->
{{#each armors as |item id|}}
{{#if item.system.itemEquipped}}
<td colspan="2" class="context-menu"
      data-item-id="{{ item._id }}" draggable="true"
      title="{{localize 'DOCUMENT.Update' type='item'}}">
    {{item.name}}
</td>
{{/if}}
{{/each}}
{{#each powerArmors as |item id|}}
{{#if item.system.itemEquipped}}
<td
    class="context-menu"
      data-item-id="{{ item._id }}" draggable="true"
      title="{{localize 'DOCUMENT.Update' type='item'}}">
    {{item.name}}
</td>
<td>DP:{{item.system.defensePoint.value}}</td>
</tr>
{{/if}}
{{/each}}
