{{#each rangedWeapons as |item id|}}
{{#if item.system.itemEquipped}}
    <table class="item-box weapons-table left">
        <tr>
            <td>
                <details {{#if item.system.itemOpen }} open="true" {{/if}}>
                    <summary data-expandtoggle data-itemid="{{ item._id }}">
                        <p class="allcaps" data-item-id="{{ item._id }}">
                            {{ item.name }}
                        </p>
                    </summary>

                    <table class="equipped-stats">
                        <tr>
                            <td colspan="999">DETAILS</td>
                        </tr>
                    </table>
                    <table class="equipped-stats">
                        <tr>
                            <td colspan="999">RANGE</td>
                        </tr>
                        <tr>
                            {{#NPC ../actor.type}}
                            <td>
                                0 - <input id="range-form"
                                           type="number"
                                           name="system.range.short"
                                           style="max-width:35px"
                                           value="{{ item.system.range.short }}" />ft
                            </td>
                            <td>{{ item.system.range.short }} ft - {{ system.range.long }}ft</td>
                            <td>
                                <input id="range-form"
                                       type="number"
                                       name="system.range.long"
                                       style="max-width:35px"
                                       value="{{ item.system.range.long }}" />ft+
                            </td>
                            {{else}}
                            <td data-tooltip="NORMAL">0 - {{ item.system.range.short }}ft</td>
                            <td data-tooltip="DISADVANTAGED">{{#Sum item.system.range.short 1}}{{/Sum}} ft - {{ system.range.long }}ft</td>
                            <td data-tooltip="NAT 20 ONLY">{{#Sum system.range.long 1}}{{/Sum}}ft+</td>
                            {{/NPC}}
                        </tr>
                    </table>
                    <table class="equipped-stats">
                        <tr>
                            <td>
                                <select style="width: 100%" data-set-ability data-weapon-id="{{ item._id }}">
                                    {{selectOptions ../system.abilities selected=item.system.abilityMod valueAttr="abbr" labelAttr="label" blank="None"}}
                                </select>
                            </td>
                            <td>
                                <select style="width: 100%" data-set-skill data-weapon-id="{{ item._id }}">
                                    {{selectOptions ../system.skills selected=item.system.skillBonus valueAttr="id" labelAttr="label" blank="None"}}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table class="equipped-stats">
                        <tr>
                            <td rowspan="3" style="background:black;"><img src="{{item.img}}" style="width:75px;height:auto;" /></td>
                            <td>{{ item.system.ammo.assigned }}</td>
                            <td>Owned</td>
                            <td rowspan="2" style="width:40px;background:#222;">
                                <div data-tooltip="Swap Your Current Ammo"
                                     class="fakebutton"
                                     style="padding:10px;"
                                     data-ammoswap
                                     data-weapon-id="{{ item._id }}">
                                    SWAP AMMO
                                </div>
                            </td>
                            <td rowspan="2" style="background:#222;">
                                {{#GreaterThan item.system.ammo.capacity.value 1}}
                                <div class="fakebutton rollable resource-label"
                                     style="padding:20px;"
                                     data-weapon-roll
                                     data-weapon-id="{{ item._id }}">
                                    FIRE!
                                </div>
                                {{else}}
                                <div class="fakebutton"
                                     style="padding:20px;">
                                    NO AMMO!
                                </div>
                                {{/GreaterThan}}
                            </td>
                        </tr>
                        <tr>
                            <td style="min-width:100px;">
                                {{ item.system.ammo.capacity.value }} / {{ item.system.ammo.capacity.max }}
                                <i data-tooltip="Reloaded {{ system.reloadDecay }} Times | 10 Reloads = 1 Level of Decay"
                                   data-reload
                                   data-weapon-id="{{ item._id }}"
                                   class="fa fa-refresh"></i>
                            </td>
                            <td>
                                {{#each item.ammos as |ammo|}}
                                {{ ammo.system.quantity }}
                                {{/each}}
                            </td>

                        </tr>
                        <tr style="vertical-align: middle">
                            <td style="width: 100px; border-right: none" data-tooltip="0 is Broken, 10 is Full Functionality">
                                CND:
                               {{#if editToggle}} <input data-tooltip="0 is Broken, 10 is Full Functionality"
                                       style="width: 50px"
                                       type="number"
                                       name="{{ item.system.decay }}"
                                       value="{{/if}}{{ item.system.decay }}{{#if editToggle}}"
                                       data-set-decay
                                       data-weapon-id="{{ item._id }}" />{{/if}}
                            </td>
                            <td colspan="3" style="border-left: none">
                                <div style="float:left;">
                                    <i style="padding: 2px;float:right"
                                    data-reduce-decay
                                    data-field="item.system.decay"
                                    data-fieldvalue="{{item.system.decay}}"
                                    data-weapon-id="{{ item._id }}"
                                    class="fas fa-minus-square fakebutton nobackground">
                                    </i>
                                </div>
                                    <progress data-tooltip="{{item.system.decay}} out of 10"
                                            style="width:75%;"
                                            class="statusbar"
                                            value="{{ item.system.decay }}"
                                            max=10>
                                        {{ item.system.decay }}
                                    </progress>
                                <div style="float:right;">
                                    <i style="padding: 2px;float:left"
                                    data-add-decay
                                    data-field="item.system.decay"
                                    data-fieldvalue="{{item.system.decay}}"
                                    data-weapon-id="{{ item._id }}"
                                    class="fas fa-plus-square fakebutton nobackground">
                                    </i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </details>
            </td>
        </tr>
        <tr>
            <td colspan="999" class="context-menu" data-item-id="{{ item._id }}">
                 <i class="fas fa-ellipsis context-icon"></i>
            </td>
        </tr>
    </table>

{{/if}}
{{/each}}
