<div class="grid grid-10col combat-tab armor-identity">
    <div class="grid-span-5 armor-stat">
        <i data-statSubtraction
           data-stat="armorClass"
           data-type=""
           class="fas fa-minus-square nobackground"></i>
        AC:{{ system.armorClass.value }}
        <i data-statAddition
           data-stat="armorClass"
           data-type=""
           class="fas fa-plus-square nobackground"></i>
    </div>
    <div class="grid-span-5 armor-stat">
        <i data-statSubtraction"
           data-stat="armorClass"
           data-type=""
           class="fas fa-minus-square nobackground"></i>
        DT:{{ system.damageThreshold.value }}
        <i data-statAddition
           data-stat="armorClass"
           data-type=""
           class="fas fa-plus-square nobackground"></i>
    </div>
</div>
{{#each powerArmors as |item id|}}
{{#if item.system.itemEquipped}}
<div class="grid grid-20col combat-tab" data-item-id="{{ item._id }}" draggable="true">
    <div class="grid-span-5 weapon-identity armor-identity context-menu" data-item-id="{{ item._id }}">
        <div title="{{item.name}}" class="weapon-name">{{item.name}}</div>
    </div>
    <div class="armor-stats grid-span-3">
        <div class="skill-value">
            HP:<input style="width:50px" type="number" data-powerarmorhp="{{ item._id }}" value="{{item.system.armorHP.value}}" />
        </div>
    </div>
    <div class="grid-span-12 armor-upgrades armor-description">
        {{#each system.upgrades as |key|}}
        {{#if key.id}}
        <span class="upgrade-name"
              style="padding-left:5px;"
              title="{{key.description}}">{{key.name}}</span>
        {{/if}}
        {{/each}}
        <div class="armor-condition">
            CND: <i data-reduce-decay
                    data-field="item.system.decay"
                    data-fieldvalue="{{item.system.decay}}"
                    data-weapon-id="{{ item._id }}"
                    class="fas fa-minus-square nobackground">
            </i>
            <span title="CND">{{ item.system.decay }}</span>
            <i data-add-decay
               data-field="item.system.decay"
               data-fieldvalue="{{item.system.decay}}"
               data-weapon-id="{{ item._id }}"
               class="fas fa-plus-square nobackground">
            </i>
            <progress title="{{item.system.decay}} out of 10"
                      class="statusbar"
                      value="{{ item.system.decay }}"
                      max=10>
                {{ item.system.decay }}
            </progress>
        </div>
    </div>
</div>
{{/if}}
{{/each}}
{{#each armors as |item id|}}
{{#if item.system.itemEquipped}}
<div class="grid grid-20col combat-tab armor-identity" data-item-id="{{ item._id }}">
    <div class="grid-span-5 weapon-identity context-menu" data-item-id="{{ item._id }}">
        <div title="{{item.name}}" class="weapon-name" draggable="true">{{item.name}}</div>
    </div>
    <div class="armor-stats grid-span-5 armor-condition">
        CND <i data-reduce-decay
               data-field="item.system.decay"
               data-fieldvalue="{{item.system.decay}}"
               data-weapon-id="{{ item._id }}"
               class="fas fa-minus-square nobackground">
        </i>
        <span title="CND">{{ item.system.decay }}</span>
        <i data-add-decay
           data-field="item.system.decay"
           data-fieldvalue="{{item.system.decay}}"
           data-weapon-id="{{ item._id }}"
           class="fas fa-plus-square nobackground">
        </i>
        <progress title="{{item.system.decay}} out of 10"
                  class="statusbar"
                  value="{{ item.system.decay }}"
                  max=10>
            {{ item.system.decay }}
        </progress>
    </div>
    <div class="grid-span-10 armor-upgrades armor-description">
        {{#each system.upgrades as |key|}}
        {{#if key.id}}
        <span class="upgrade-name"
              style="padding-left:5px;"
              title="{{key.description}}">{{key.name}}</span>
        {{/if}}
        {{/each}}
    </div>
</div>
{{/if}}
{{/each}}

<br />

<div style="margin-bottom:5px;" class="grid grid-20col">
    <div class="grid-span-10">
        <span class="show-unequipped">
            Show Unequipped:
        </span>
        <i data-showEquipped class="fas fa-toggle-{{#if system.showEquipped}}on{{else}}off{{/if}} show-unequipped"></i>
    </div>
    <div style="border:solid 1px;"
         class="fakebutton combat-actions combat-menu grid-span-9">
        Combat Actions
    </div>
    <div class="help-icon" data-combatActions>
        <i class='far fa-question-circle'></i>
    </div>
</div>

