{{#each explosives as |item id|}}
<div
  style="width: 33%; float: left; padding: 5px"
  class="item flexrow"
  data-item-id="{{ item._id }}"
>
  <table class="item-box">
    <tr>
      <td>
        <details {{#if item.system.itemOpen }} open="true" {{/if}}>
          <summary data-expandtoggle data-itemid="{{ item._id }}">
            <p class="allcaps">{{ item.name }}</p>
          </summary>
          <table class="equipped-stats">
            <tr>
              <td>Cost</td>
              <td>Load</td>
              <td>Qty</td>
            </tr>
            <tr>
              <td>{{ item.system.cost }}</td>
              <td>{{ item.system.load }}</td>
              <td>
                <i
                  style="padding: 3px"
                  data-itemsubtraction
                  data-item="{{ item._id }}"
                  class="fas fa-minus-square"
                ></i>
                {{ item.system.quantity }}
                <i
                  style="padding: 3px"
                  data-itemaddition
                  data-item="{{ item._id }}"
                  class="fas fa-plus-square"
                ></i>
              </td>
            </tr>
            <tr>
              <td>
                <div
                  class="fakebutton"
                  class="resource-label"
                  data-ap-used
                  data-weapon-id="{{ item._id }}"
                  class="resource-label"
                >
                  AP
                </div>
              </td>
              <td>Range</td>
              <td>
                {{#GreaterThan ../skills.explosives.value item.armDC}}
                Auto Succeeds ({{ item.armDC }})
                {{else}}
                <div
                  class="fakebutton"
                  class="rollable resource-label"
                  data-rollable
                  data-label="Attempt to Arm a {{ item.name }} They'll need to match or beat a {{
                    item.armDC
                  }}"
                  data-roll="d20+ {{../skills.explosives.value}} - @penaltyTotal - 10"
                  title="d20 + explosives({{../skills.explosives.value}}) - penalties({{../penaltyTotal}}) - Increased DV of 10"
                />
                ARM
                {{/GreaterThan}}
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>{{ item.apCost }}</td>
              <td>{{ item.thrown }}</td>
              <td>{{ item.armDC }}</td>
            </tr>
          </table>

          <table class="equipped-stats">
            <tr>
              <td>AOE: {{ item.aoeRadius }}</td>
            </tr>
          </table>
          <table class="equipped-stats">
            <tr>
              <td colspan="999">Damage Calculation</td>
            </tr>
            <tr>
              <td style="width: 75px">DMG 1</td>
              <td>Type</td>
            </tr>
            <tr>
              <td>
                <div
                  class="fakebutton"
                  class="rollable resource-label"
                  data-rollable
                  data-label="KABOOM! <span class='allcaps'>{{
                    item.system.damageType1
                  }}</span> DMG from a {{ item.name }}"
                  data-roll="{{ item.system.damage1 }}"
                >
                  {{ item.system.damage1 }}
                </div>
              </td>
              <td class="allcaps">
                {{ item.system.damageType1 }}
              </td>
            </tr>
            {{#if item.system.damage2 }}
          </table>
          <table class="equipped-stats">
            <tr>
              <td style="width: 75px">DMG 2</td>
              <td>Type</td>
            </tr>
            <td>
              <div
                class="fakebutton"
                class="rollable resource-label"
                data-rollable
                data-label="KABOOM! <span class='allcaps'>{{
                  item.system.damageType2
                }}</span> DMG from a {{ item.name }}"
                data-roll="{{ item.system.damage2 }}"
              >
                {{ item.system.damage2 }}
              </div>
            </td>
            <td class="allcaps">
              {{ item.system.damageType2 }}
            </td>
            {{/if}}
          </table>
          <div class="item-controls">
            <a
              style="float: right; margin-right: 10px"
              class="item-control item-delete"
              data-item-id="{{ item._id }}"
              title="{{localize 'DOCUMENT.Delete' type='item'}}"
            >
              <i class="fas fa-trash"></i>
            </a>
            <a
              style="float: right; margin-right: 10px"
              data-edit
              data-item-id="{{ item._id }}"
              class="item-control"
              title="{{localize 'DOCUMENT.Update' type='item'}}"
            >
              <i class="fas fa-edit"></i>
            </a>
          </div>
        </details>
      </td>
    </tr>
  </table>
</div>
{{/each}}
