<section>
  <div class="flex">
    <div>Is craftable: </div>
    <div>
      <input type="checkbox" name="system.crafting.craftable" {{checked system.crafting.craftable}}>
    </div>
  </div>
  <div>
    {{#if system.crafting.craftable}}
      {{!-- type  --}}
      <fieldset>
        <legend>Type</legend>
          <select name="system.crafting.type">
            {{selectOptions types selected=system.crafting.type valueAttr="id" labelAttr="label"}}
          </select>
      </fieldset>

      {{!-- quantity  --}}
      <fieldset>
        <legend>Quantity</legend>
        <input type="number" name="system.crafting.quantity" value="{{system.crafting.quantity}}" placeholder="Quantity"/>
      </fieldset>

      {{!-- time --}}
      <fieldset>
        <legend>Time</legend>
        <div class="flex">
          <input type="number" name="system.crafting.time.value" value="{{system.crafting.time.value}}" placeholder="Crafting time"/>
          <select name="system.crafting.time.unit">
            {{selectOptions timeUnits selected=system.crafting.time.unit valueAttr="id" labelAttr="label"}}
          </select>
        </div>
      </fieldset>

      {{!-- main skill requirement --}}
      <fieldset>
        <legend>Main skill requirements</legend>
        <div>
          <button data-add-main-requirement>Add skill requirement</button>
        </div>
        {{#each system.crafting.mainRequirements as |requirement|}}
          <div class="flex gap-3">
            <select name="system.crafting.mainRequirements.{{@index}}.key">
              {{#each ../skills as |skill|}}
                <option value="{{skill.id}}" {{#if (Equals skill.id requirement.key)}} selected {{/if}}>{{skill.label}}</option>
              {{/each}}
            </select>
            <input type="number" name="system.crafting.mainRequirements.{{@index}}.dc" value="{{requirement.dc}}" placeholder="DC"/>
            <button data-remove-main-requirement="{{@index}}">Remove</button>
          </div>
        {{/each}}
      </fieldset>

      {{!-- additional skill requirement --}}
      <fieldset>
        <legend>Additional skill requirements</legend>
        <div>
          <button data-add-additional-requirement>Add skill requirement</button>
        </div>
        {{#each system.crafting.additionalRequirements as |requirement|}}
          <div class="flex gap-3">
            <select name="system.crafting.additionalRequirements.{{@index}}.key">
              {{#each ../skills as |skill|}}
                <option value="{{skill.id}}" {{#if (Equals skill.id requirement.key)}} selected {{/if}}>{{skill.label}}</option>
              {{/each}}
            </select>
            <input type="number" name="system.crafting.additionalRequirements.{{@index}}.dc" value="{{requirement.dc}}" placeholder="DC"/>
            <button data-remove-additional-requirement="{{@index}}">Remove</button>
          </div>
        {{/each}}
      </fieldset>

      {{!-- materials --}}
      <fieldset>
        <legend>Materials</legend>
        <div class="flex">
          <div>Require base materials?</div>
          <input type="checkbox" name="system.crafting.materialBase.required" {{checked system.crafting.materialBase.required}} />
          {{#if system.crafting.materialBase.required}}
            <input type="number" name="system.crafting.materialBase.multiplier" value="{{system.crafting.materialBase.multiplier}}" placeholder="multiplier" />
          {{/if}}
        </div>
        <div class="drop-area" data-material-drop data-tooltip="drop material or junk here">
          <div class="grid grid-3col align-items-center">
            <div>Item</div>
            <div>Quantity</div>
            <div>Remove</div>
            {{#each system.crafting.materials as |material|}}
              <input hidden value="{{material.name}}" name="system.crafting.materials.{{@index}}.name" />
              <input hidden value="{{material.uuid}}" name="system.crafting.materials.{{@index}}.uuid" />
              <div>{{material.name}}</div>
              <input
                type="number"
                value="{{material.quantity}}"
                name="system.crafting.materials.{{@index}}.quantity"
                placeholder="quantity"
              />
              <button data-remove-material="{{@index}}" type="button" data-tooltip="Remove">
                <i class="fas fa-minus-square"></i>
              </button>
            {{/each}}
          </div>
        </div>
      </fieldset>

      {{!-- alt materials --}}
      <fieldset>
        <legend>Alternative Materials</legend><div class="drop-area" data-alt-material-drop data-tooltip="drop material or junk here">
          <div class="grid grid-3col align-items-center">
            <div>Item</div>
            <div>Quantity</div>
            <div>Remove</div>
            {{#each system.crafting.altMaterials as |material|}}
              <input hidden value="{{material.name}}" name="system.crafting.altMaterials.{{@index}}.name" />
              <input hidden value="{{material.uuid}}" name="system.crafting.altMaterials.{{@index}}.uuid" />
              <div>{{material.name}}</div>
              <input
                type="number"
                value="{{material.quantity}}"
                name="system.crafting.altMaterials.{{@index}}.quantity"
                placeholder="quantity"
              />
              <button data-remove-alt-material="{{@index}}" type="button" data-tooltip="Remove">
                <i class="fas fa-minus-square"></i>
              </button>
            {{/each}}
          </div>
      </fieldset>

    {{/if}}
  </div>
</section> 
{{log 'crafting'}} 
{{log this}}