<section>
  <div class="flex">
    <div>Is craftable: </div>
    <div>
      <input type="checkbox" name="system.crafting.craftable" {{checked system.crafting.craftable}}>
    </div>
  </div>
  <div>
    {{#if system.crafting.craftable}}
      {{!-- type  --}}
      <fieldset>
        <legend>Type</legend>
          <select name="system.crafting.type">
            {{selectOptions types selected=system.crafting.type valueAttr="id" labelAttr="label"}}
          </select>
      </fieldset>

      {{!-- time --}}
      <fieldset>
        <legend>Time</legend>
        <div class="flex">
          <input type="number" name="system.crafting.time.value" value="{{system.crafting.time.value}}" placeholder="Crafting time"/>
          <select name="system.crafting.time.unit">
            {{selectOptions timeUnits selected=system.crafting.time.unit valueAttr="id" labelAttr="label"}}
          </select>
        </div>
      </fieldset>

      {{!-- skill requirement --}}
      <fieldset>
        <legend>Skill requirements</legend>
        <div>
          <button data-add-requirement>Add skill requirement</button>
        </div>
        {{#each system.crafting.requirements as |requirement|}}
          <div class="flex gap-3">
            <select class="multi-select" name="system.crafting.requirements.{{@index}}.keys" multiple>
              {{#each ../skills as |skill|}}
                <option value="{{skill.id}}" {{#if (IsIn skill.id requirement.keys)}} selected {{/if}}>{{skill.label}}</option>
              {{/each}}
            </select>
            <input type="number" name="system.crafting.requirements.{{@index}}.dc" value="{{requirement.dc}}" placeholder="DC"/>
            <button data-remove-requirement="{{@index}}">Remove</button>
          </div>
        {{/each}}
      </fieldset>

      {{!-- materials --}}
      <fieldset>
        <legend>Materials</legend>
        <div class="drop-area" data-material-drop data-tooltip="drop material or junk here">
          <div class="grid grid-3col align-items-center">
            <div>Item</div>
            <div>Quantity</div>
            <div>Remove</div>
            {{#each system.crafting.materials as |material|}}
              <input hidden value="{{material.name}}" name="system.crafting.materials.{{@index}}.name" />
              <input hidden value="{{material.uuid}}" name="system.crafting.materials.{{@index}}.uuid" />
              <div>{{material.name}}</div>
              <input
                type="number"
                value="{{material.quantity}}"
                name="system.crafting.materials.{{@index}}.quantity"
                placeholder="quantity"
              />
              <button data-remove-material="{{@index}}" type="button" data-tooltip="Remove">
                <i class="fas fa-minus-square"></i>
              </button>
            {{/each}}
          </div>
        </div>
    {{/if}}
  </div>
</section> 
{{log 'crafting'}} 
{{log this}}