<table>
    <tr>
        <td>Healing Rate</td>
        <td class="resource-label rollable"
            data-rollable
            data-roll="d20+@combatSequence+@penaltyTotal+@luckmod"
            data-label="Performed a Combat Sequence roll!<br> D20 + Combat Sequence - Penalties + Luck Mod / 2">
            Combat Sequence
        </td>
        <td><p class="condition" data-condition="Fatigue_and_Exhaustion">Exhaustion</p></td>
    </tr>
    <tr>
        <td>
            <input type="number" name="system.healingRate" value="{{ healingRate }}" />
        </td>
        <td>
            <input type="number" name="system.combatSequence" value="{{ combatSequence }}" />
        </td>
        <td>
            <input type="number" name="system.penalties.exhaustion.value" value="{{ system.penalties.exhaustion.value }}" />
        </td>
    </tr>
    <tr>
        <td>Passive Sense</td>
        <td>Party Nerve</td>
        <td>Group Sneak</td>
    </tr>
    <tr>
        <td>
            <input type="number" name="system.passiveSense" value="{{ passiveSense }}" />
        </td>
        <td><input type="number" name="system.partyNerve" value="{{ partyNerve }}" /></td>
        <td><input type="number" name="system.groupSneak" value="{{ groupSneak }}" /></td>
    </tr>
    <tr>
        <td colspan="4">
    </td>
  </tr>
</table>

<table>
    <tr><th>Conditions</th></tr>
    <tr>
        <td class="condition-box">
            {{#each conditions as |item condition|}}
            {{#GreaterThan system.quantity 1}}
            <div class="active-conditions">
                <li class="item flexrow" data-item-id="{{ item._id }}">
                    <div class="item-controls">
                        <a class="item-control"
                           data-edit
                           data-item-id="{{ item._id }}"
                           title="{{localize 'DOCUMENT.Update' type='item'}}">
                            {{item.name}}{{#GreaterThan system.quantity 2}} {{system.quantity}}{{/GreaterThan}}
                        </a><hr />
                        <a class="item-control item-delete">
                            <div class="fakebutton">Clear</div>
                        </a>
                    </div>
                </li>
            </div>
            {{/GreaterThan}}
            {{/each}}
        </td>
    </tr>
</table>

