<table>
  <tr>
    {{#each abilities as |ability key|}}
    <td>
      <label
        for="system.abilities.{{ key }}.value"
        class="resource-label rollable flexlarge align-left"
        title="1d20 + {{ability.label}} Mod ( {{ability.mod}} ){{#DifferentFrom ../system.penaltyTotal 0}} -  Penalties ( {{../system.penaltyTotal}} ){{/DifferentFrom}} {{#GreaterThan ability.advantage 1}} with advantage {{/GreaterThan}}{{#LesserThan ability.advantage 0}} with disadvantage {{/LesserThan}}"

        data-rollable
        data-roll="d20+{{ ability.mod }}{{#if ability.penalties}}-@penaltyTotal{{/if}}"
        data-advantage="{{ ability.advantage }}"
        data-label="{{ ability.label }}"
        >{{ ability.label }}</label
      >
    </td>
    {{/each}}
  </tr>

  <tr>
    {{#each abilities as |ability key|}}
    <td>
        <div class="flex justify-center gap-5">
            {{#if ../system.editToggle}}<button class="w-auto no-background" data-statSubtraction data-stat="{{ ability.abbr }}" data-type="abilities">
                <i class="fas fa-minus-square "></i>
            </button>{{/if}}
            <span class="skillvalue">{{ability.value}}</span>
            {{#if ../system.editToggle}}<button class="w-auto no-background" data-statAddition data-stat="{{ ability.abbr }}" data-type="abilities">
                <i class="fas fa-plus-square"></i>
            </button>{{/if}}
        </div>
    </td>
    {{/each}}
  </tr>
  <tr>
    {{#each abilities as |ability key|}}
    <td style="width:14%;">
      <span class="ability-mod" data-label="{{ ability.label }}">
        {{numberFormat ability.mod decimals=0 sign=true }}
      </span>
    </td>
    {{/each}}
  </tr>
</table>
