<form autocomplete="off">
    {{ log 'here' content.options.mode}}
    <div class="form-group">
        <label for="bonus">Situational bonus</label>
        <input title="
               Use this to add more dice to the roll.
               1d4 will add a d4 to the roll
               1d4kh is keep high for advantage
               1d4kl is keep low for disadvantage
               You can also just put a number in to add a flat value" type="text" name="bonusDice" value="" placeholder="1d4"/>
    </div>
    <div class="form-group">
        <fieldset>
        <legend>Select normal/advantage/disadvantage</legend>
        <div>
            <input type="radio" id="normal" name="mode" value="normal" {{{setChecked content.options.mode 'normal'}}}/>
            <label for="normal">Normal</label>
        </div>
        <div>
            <input type="radio" id="advantage" name="mode" value="advantage" {{{setChecked content.options.mode 'advantage'}}}/>
            <label for="advantage">Advantage</label>
        </div>
        <div>
            <input type="radio" id="disadvantage" name="mode" value="disadvantage" {{{setChecked content.options.mode 'disadvantage'}}}/>
            <label for="disadvantage">Disadvantage</label>
        </div>
        <div data-tooltip="Target beyond long range, Nat 20 required to hit">
            <input type="radio" id="hailmary" name="mode" value="normal" {{{setChecked content.options.mode 'hailmary'}}}/>
            <label for="hailmary">Hail Mary!</label>
        </div>
    </div>
    <div>
        <div class="form-group" style="text-align:right;">
            <table style="background:none;border:none;">
                <tr style="background:none;border:none;">
                    <td><label>Targeted Attack: </label></td>
                    <td><input type="checkbox" name="targeted" value="false" /></td>
                </tr>
                <tr style="background:none;border:none;">
                    <td><label>Free Attack: </label></td>
                    <td><input type="checkbox" name="freeAttack" value="false" /></td>
                </tr>
            </table>

</div>
</form>

<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
