<form class="{{ cssClass }}{{#isVaultTec}} vaulttec {{/isVaultTec}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.img }}" />
    <div class="header-fields">
      <h1 class="upgradeName">
        <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
      </h1>
    </div>
  </header>

  <section>
    <div class="flex">
      <div>
        rank: 
      </div>
      <div>
        <input type="number" name="system.rank" value="{{system.rank}}" min="0" max="3" />
      </div>
    </div>
    <div class="flex">
      <div>
        type:
      </div>
      <div>
        <select name="system.type">
          {{selectOptions armorTypes selected=system.type valueAttr="id" labelAttr="label"}}
        </select>
    </div>
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="crafting">Crafting</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
      <div class="tab htmlfield" item-description data-group="primary" data-tab="description">
          {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
          {{#CheckLang 'en'}}{{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}{{/CheckLang}}
          {{#CheckLang 'pt-BR'}}{{editor system.description_br target="system.description_br" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}{{/CheckLang}}
      </div>      
    {{!-- Crafting Tab --}}
    <div class="tab crafting" data-group="primary" data-tab="crafting">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-crafting.hbs"}}
    </div>
      
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
