
<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
        </h1>
        Equipped: <input type="checkbox" equipItem name="system.itemEquipped" {{checked system.itemEquipped}} /><br>
        Number Owned:<input style="text-align:center;width:35px;" type="number" name="system.quantity" value="{{system.quantity}}" />
        <div>
            Upgrades:
            {{#each system.upgrades as |key|}}
              {{#GreaterThan key.rank 1}}
              <a class="content-link" style="color:black" draggable="true" data-uuid="Compendium.world.upgrades.Item.{{key._id}}"
                data-id="{{key._id}}" data-type="Item" data-pack="arcane-arcade-fallout.upgrades" data-tooltip="{{key.auto}}">
                  <i class="fas fa-suitcase">
                  </i>{{ key.name }}{{ key.value }}
              </a>
              {{/GreaterThan}}
            {{/each}}
        </div>
        <table>
            <tr>
              <td>Cost</td>
              <td>AC</td>
              <td>DT</td>
              <td>Slots</td>
              <td>Load</td>
              <td>STR Req.</td>
            </tr>
            <tr>
              <td>
                <input type="number" name="system.baseCost.value" value="{{ system.baseCost.value }}" />
              </td>
              <td>
                  <input type="number" name="system.armorClass.value" value="{{ system.armorClass.value }}" />
              </td>
              <td>
                  <input type="number" name="system.damageThreshold.value" value="{{ system.damageThreshold.value }}" />
              </td>
              <td>
                  <input type="number" name="system.slots.value" value="{{ system.slots.value }}" />
              </td>
              <td><input type="number" name="system.load" value="{{ system.load }}" /></td>
              <td>
                  <input type="number" name="system.strReq.value" value="{{ system.strReq.value }}" />
              </td>
            </tr>
        </table>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="upgrades">Upgrades</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
	  {{editor system.description target="system.description" button=true engine="prosemirror"}}
    </div>
    {{!-- Upgrades Tab --}}
    <div class="tab" data-armor-id data-group="primary" data-tab="upgrades">
        <table>
          <th>
            
          </th>
          <th>
            Upgrade name
          </th>
          <th>
            Cost
          </th>
          <th>
            Details
          </th>
          <tr>
            <td>
              <button addUpgradeBtn id="addUpgradeBtn">Add</button>
            </td>
            <td>
              <select name="upgradesSelector" id="upgradesSelector">
                <option value="Refresh">Refresh Upgrades List</option>
              </select>
            </td>
            <td>
              <div id="upgradeCost" name="upgradeCost">
              </div>
            </td>
            <td>
              <div id="upgradeDetails" name="upgradeDetails">
              </div>
            </td>
          </tr>
        </table>
        <ol>
          {{#each system.upgrades as |key|}}
            {{#if key.id}}
          <li>
              <a class="content-link" style="color:black" draggable="true" data-uuid="Compendium.arcane-arcade-fallout.upgrades.Item.{{key.id}}"
                data-id="{{key.id}}" data-type="Item" data-pack="arcane-arcade-fallout.upgrades" data-tooltip="Click for details">
                <i class="fas fa-suitcase">
                </i>{{ key.name }}
              </a>
              <a class="item-control upgrade-delete" deleteUpgrade title="Delete Upgrade" id="delete{{key.id}}">
                <i class="fas fa-trash"></i>
              </a>
              </a>
          </li>
            {{/if}}
          {{/each}}
        </ol>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
