<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }} {{#isVaultTec}} vaulttec {{/isVaultTec}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" /><br />
    <div class="header-fields">
      <h1 class="charname">
        <input class="item-label" name="name" type="text" value="{{ item.name }}" placeholder="Name" />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="crafting">Crafting</a>
    <a class="item" data-tab="upgrades" id="upgradesTab">Upgrades</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
      <div class="tab" item-description data-group="primary" data-tab="description">
          <div class="grid grid-10col">
              <div class="grid-span-3">
                  <div class="grid grid-2col weapon-details">
                      <div class="weapon-label"><input title="{{system.ammo.type}}" style="text-align:left;font-size:12pt;" type="text" name="system.ammo.type" value="{{ system.ammo.type }}" /></div>

                      <div class="weapon-label"><input title="{{system.ammo.assigned}}" style="text-align:left;font-size:12pt;" type="text" name="system.ammo.assigned" value="{{ system.ammo.assigned }}" /></div>
                      <div style="text-align:center;font-size:12pt;margin-right:5px;">
                          <input style="width:25px;text-align:center;" type="number" name="system.ammo.capacity.value" value="{{ system.ammo.capacity.value }}" />/<input style="width:25px;" type="number" name="system.ammo.capacity.max" value="{{ system.ammo.capacity.max }}" />
                      </div>
                      <div class="weapon-label">Qty:</div><div><input type="number" name="system.quantity" value="{{ system.quantity }}" /></div>
                      <div class="weapon-label">Load:</div><div><input type="number" name="system.load" value="{{ system.load }}" /></div>
                      <div class="weapon-label">Cost:</div><div><input type="number" name="system.cost" value="{{ system.cost }}" /></div>
                      <div class="weapon-label">AP:</div><div><input type="number" name="system.apCost" value="{{ system.apCost }}" /></div>
                      <div class="weapon-label">Str Req:</div><div><input type="number" name="system.strengthRequirement" value="{{ system.strengthRequirement }}" /></div>
                      <div class="weapon-label">CND:</div><div><input type="number" name="system.decay" value="{{system.decay}}" max="10" min="0" /></div>
                      <div class="weapon-label">Slots:</div><div><input type="number" name="system.slots" value="{{system.slots}}" min="0" /></div>
                      <div class="grid-span-2" style="border-top:solid 2px;border-bottom:solid 2px;margin:5px;text-align:center;font-weight:bold;">RANGE</div>
                      <div class="weapon-label">Short:</div>
                      <div>
                          <input type="number" name="system.range.short" value="{{ system.range.short }}" />
                      </div>
                      <div class="weapon-label">Long:</div><div>
                          <input type="number" name="system.range.long" value="{{ system.range.long }}" />
                      </div>
                      <div style="text-align:right;border-right:solid 1px;padding:5px;">
                          {{#if item.parent}}{{#Multiply item.parent.system.abilities.per.value system.range.short}}{{/Multiply}}ft{{else}}NA{{/if}}
                      </div>
                      <div style="padding:5px;">{{#if item.parent}}{{#Multiply item.parent.system.abilities.per.value system.range.long}}{{/Multiply}}ft{{else}}NA{{/if}}</div>
                      <div class="grid-span-2">
                          <select name="system.abilityMod" style="width:100%;">
                              {{selectOptions abilities selected=system.abilityMod blank="None"}}
                          </select>
                      </div>
                      <div class="grid-span-2">
                          <select name="system.skillBonus" style="width:100%;">
                              {{selectOptions skills selected=system.skillBonus blank="None"}}
                          </select>
                      </div>
                      <div></div>
                  </div>
              </div>
              <div class="grid-span-7 weapon-description">
                  {{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}
              </div>
          </div>
          {{> "systems/arcane-arcade-fallout/templates/item/parts/weapon-damage.hbs"}}
      </div>
    {{!-- Crafting Tab --}}
    <div class="tab crafting" data-group="primary" data-tab="crafting">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-breakdown.hbs"}}
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-crafting.hbs"}}
    </div>
    {{!-- Upgrades Tab --}}
  <div class="tab" data-armor-id data-group="primary" data-tab="upgrades">
      <button style="max-width: fit-content; text-align: left"
              class="fakeButton"
              addUpgradeBtn
              id="addUpgradeBtn">
          ADD
      </button>
      <select name="upgradesSelector" data-itemType="ranged" id="upgradesSelector">
          <option value="Upgrades">Upgrades</option>
      </select>
      <div id="upgradeDetails" name="upgradeDetails"></div>
      <div id="upgradeCost" name="upgradeCost"></div>

      {{#LesserThan system.baseCost.base 1}}
      <div>
          Select an upgrade and press the ADD button above to upgrade your weapon. Upgrades will
          appear here as you add them.
      </div>
      {{else}}
      <ol>
          {{#each system.upgrades as |key|}}
          {{#if key.id}}
          <div class="box-perks box-upgrades">
          <li class="item flexrow" data-item-id="{{ key.id }}">
              <table class="perk-table" style="border: solid 1px">
                  <tr>
                      <td>
                          <div class="perk-div weapon-div">
                              <h3>{{ key.name }}</h3>
                              <a class="item-control" seeUpgrade id="{{ key.id }}" title="View Item Details">
                                  <img title="{{ key.description }}" class="perk-image" src="{{ key.img }}" />
                              </a>
                          </div>
                          <div class="perk-div">
                              {{ key.rank }}
                          </div>
          <li class="item flexrow" data-item-id="{{ item._id }}">
              <div class="item-controls" style="background: black">
                  <a class="item-control upgrade-delete"
                     deleteUpgrade
                     title="Delete Upgrade"
                     id="delete{{ key.id }}">
                      <i class="fas fa-trash"></i>
                  </a>
              </div>
          </li>
          </td>
          </tr>
          </table>
          </li>
  </div>
        {{/if}}
        {{/each}}
      </ol>
      {{/LesserThan}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
