<form class="{{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
      </h1>
    </div>
  </header>
 <table>
     <tr>
    <td>
       Being Worn: <input type="checkbox" name="system.worn" worn="{{item._id}}" {{checked system.worn}} />
    </td>
    <td>
       Filled: <input type="checkbox" name="system.filled" {{checked system.filled}} />
    </td>
</tr>
    </table>
  <table class="equipped-stats">
      <tr>
          <td>Cost</td>
          <td title="Calculated Total to Carry Load">Actual Load</td>
          <td title="load when not worn/filled">Default Load</td>
          <td title="load while wearing this item">Worn Load</td>
          <td title="load when container is full">Filled Load</td>
          <td>Qty</td>
      </tr>
      <tr>
          <td><input type="number" name="system.cost" value="{{ system.cost }}" /></td>
          <td><input type="number" name="system.load" value="{{#if system.worn}}{{system.wornload}}{{/if}}{{#if system.filled}}{{system.full}}{{/if}}{{#unless system.filled}}{{#unless system.worn}}{{system.loaddefault}}{{/unless}}{{/unless}}" /></td>
          <td><input type="number" name="system.loaddefault" value="{{ system.loaddefault }}" /></td>
          <td><input type="number" name="system.wornload" value="{{ system.wornload }}" /></td>
          <td><input type="number" name="system.full" value="{{ system.full }}" /></td>
          <td><input type="number" name="system.quantity" value="{{ system.quantity }}" /></td>
      </tr>
  </table>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" item-description  data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>
