
<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }}{{#if system.vaulttec}} vaulttec {{/if}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" /><br />
        <div class="header-fields">
            <h1 class="charname">
                <input class="item-label" name="name" type="text" value="{{ item.name }}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="crafting">Crafting</a>
        <a class="item" data-tab="upgrades" id="upgradesTab">Upgrades</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" item-description data-group="primary" data-tab="description">
            <div style="min-height:200px;" class="grid grid-10col">
                <div class="grid-span-3">
                    <div style="min-height:200px;" class="grid grid-2col weapon-details">
                        <div class="grid-span-2 weapon-label">Equipped:<input style="height:10px;" type="checkbox" equipItem name="system.itemEquipped" {{checked system.itemEquipped}} /></div>
                        <div class="weapon-label">Qty:</div><div><input type="number" name="system.quantity" value="{{ system.quantity }}" /></div>
                        <div class="weapon-label" title="Armor Class - Difficulty Value for Enemies to Roll To Hit You">AC:</div><div><input type="number" name="system.armorClass.value" value="{{ system.armorClass.value }}" /></div>
                        <div class="weapon-label" title="Damage Threshold - Absorbs the First Damage that reaches your AP after SP">DT:</div><div><input type="number" name="system.damageThreshold.value" value="{{ system.damageThreshold.value }}" /></div>
                        <div class="weapon-label" title="Defense Points - This is multiplied by the condition of the armor to make an 'armor HP' Stat">DP:</div><div><input type="number" name="system.defensePoint.value" value="{{ system.defensePoint.value }}" /></div>
                        <div class="weapon-label">Load:</div><div><input type="number" name="system.load" value="{{ system.load }}" /></div>
                        <div class="weapon-label">Cost:</div><div><input type="number" name="system.cost" value="{{ system.cost }}" /></div>
                        <div class="weapon-label">Slots:</div><div><input type="number" name="system.slots.value" value="{{ system.slots.value }}" /></div>
                        <div class="weapon-label" title="Crafting DC for repairing the Armor">Repair:</div><div><input type="number" name="system.repairDC.value" value="{{ system.repairDC.value }}" /></div>
                        <div class="weapon-label">Time:</div><div><input type="text" name="system.allotedTime.value" value="{{ system.allotedTime.value }}" /></div>
                        <div class="weapon-label">CND:</div><div><input type="number" name="system.decay" value="{{system.decay}}" max="10" min="0" /></div>

                    </div>
                </div>
                <div class="grid-span-7 weapon-description">
                    {{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}
                </div>
            </div>
        </div>
        {{!-- Crafting Tab --}}
        <div class="tab crafting" data-group="primary" data-tab="crafting">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-breakdown.hbs"}}
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-crafting.hbs"}}
        </div>
        {{!-- Upgrades Tab --}}
        <div class="tab" data-armor-id data-group="primary" data-tab="upgrades">
            <button style="max-width:fit-content;text-align:left" class="fakeButton" addUpgradeBtn id="addUpgradeBtn">ADD</button>
            <select name="upgradesSelector" data-itemType="powerArmor" id="upgradesSelector">
                <option value="Upgrades">Upgrades</option>
            </select>
            {{#LesserThan system.baseCost.base 1}}
            <div>Select an upgrade and press the ADD button above to upgrade your weapon. Upgrades will appear here as you add them. </div>
            {{else}}
            <ol>
                {{#each system.upgrades as |key|}}
                {{#if key.id}}
                <div class="box-perks">
                <li class="item flexrow" data-item-id="{{ key.id }}">
                    <table class="perk-table" style="border: solid 1px">
                        <tr>
                            <td>
                                <div class="perk-div">
                                    <h3>{{ key.name }}</h3>
                                    <a class="item-control"
                                       seeUpgrade
                                       id="{{ key.id }}"
                                       title="View Item Details">
                                        <img title="{{key.description}}" class="perk-image" src="{{key.img}}" />
                                    </a>
                                </div>
                                <div class="perk-div">
                                    <i style="padding: 3px"
                                       downgradeRank
                                       id="{{key.id}}"
                                       name="{{ key.rank }}"
                                       class="fas fa-minus-square"></i>
                                    {{ key.rank }}
                                    <i style="padding: 3px"
                                       upgradeRank
                                       id="{{key.id}}"
                                       name="{{ key.rank }}"
                                       class="fas fa-plus-square"></i>
                                </div>
                <li class="item flexrow" data-item-id="{{ item._id }}">
                    <div class="item-controls" style="background: black">
                        <a class="item-control upgrade-delete" deleteUpgrade title="Delete Upgrade" id="delete{{key.id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
                </td>
                </tr>
                </table>
                </li>
        </div>
        {{/if}}
        {{/each}}
        </ol>
        {{/LesserThan}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
        </div>
    </section>
</form>

{{log system}}
