
<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
        </h1>
        <table style="text-align:left">
          <tr>
            <td style="text-align:left">
              Equipped: <input type="checkbox" equipItem name="system.itemEquipped" {{checked system.itemEquipped}} /><br>
            </td>
            <td>
              <button style ="max-width:fit-content;text-align:left" class="fakeButton" addUpgradeBtn id="addUpgradeBtn">ADD</button>
                <select name="upgradesSelector" id="upgradesSelector">
                  <option value="Upgrades">Upgrades</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="text-align:left">
              Number Owned:<input style="text-align:center;width:35px;" type="number" name="system.quantity" value="{{system.quantity}}" />
            </td>
            <td style="display:inline-block">
                <span id="upgradeDetails" name="upgradeDetails"></span>
                <span id="upgradeCost" name="upgradeCost"></span>
            </td>
          </tr>
        </table>
        <table>
            <tr>
              <td>Cost</td>
              <td>AC</td>
              <td>DT</td>
              <td>Slots</td>
              <td>Load</td>
              <td>STR Req.</td>
            </tr>
            <tr>
              <td>
                <input type="number" name="system.baseCost.value" value="{{ system.baseCost.value }}" />
              </td>
              <td>
                  <input type="number" name="system.armorClass.value" value="{{ system.armorClass.value }}" />
              </td>
              <td>
                  <input type="number" name="system.damageThreshold.value" value="{{ system.damageThreshold.value }}" />
              </td>
              <td>
                  <input type="number" name="system.slots.value" value="{{ system.slots.value }}" />
              </td>
              <td><input type="number" name="system.load" value="{{ system.load }}" /></td>
              <td>
                  <input type="number" name="system.strReq.value" value="{{ system.strReq.value }}" />
              </td>
            </tr>
        </table>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="upgrades" id="upgradesTab">Upgrades</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
	  {{editor system.description target="system.description" button=true engine="prosemirror"}}
    </div>
    {{!-- Upgrades Tab --}}
    <div class="tab" data-armor-id data-group="primary" data-tab="upgrades">
      {{#LesserThan system.baseCost.base 1}}
        <div>Select an upgrade and press the ADD button above to upgrade your weapon. Upgrades will appear here as you add them. </div>
        {{else}}
        <ol>
          {{#each system.upgrades as |key|}}
            {{#if key.id}}
            <div class="box-perks">
              <li class="item flexrow" data-item-id="{{ key.id }}">
                <table class="perk-table" style="border: solid 1px">
                  <tr>
                    <td>
                      <div class="perk-div">
                        <h3>{{ key.name }}</h3>
                        <a
                          class="item-control"
                          seeUpgrade
                          id="{{ key.id }}"
                          title="View Item Details"
                        >
                          <img title="{{key.description}}" class="perk-image" src="{{key.img}}" />
                        </a>
                      </div>
                      <div class="perk-div">
                        <i
                          style="padding: 3px"
                          downgradeRank
                          id="{{key.id}}"
                          name="{{ key.rank }}"
                          class="fas fa-minus-square"
                        ></i>
                        {{ key.rank }}
                        <i
                          style="padding: 3px"
                          upgradeRank
                          id="{{key.id}}"
                          name="{{ key.rank }}"
                          class="fas fa-plus-square"
                        ></i>
                      </div>
                      <li class="item flexrow" data-item-id="{{ item._id }}">
                        <div class="item-controls" style="background: black">
                          <a class="item-control upgrade-delete" deleteUpgrade title="Delete Upgrade" id="delete{{key.id}}">
                            <i class="fas fa-trash"></i>
                          </a>
                        </div>
                      </li>
                    </td>
                  </tr>
                </table>
              </li>
            </div>
            {{/if}}
          {{/each}}
        </ol>
        {{/LesserThan}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
