<form class="{{ cssClass }}{{#if system.vaulttec}} vaulttec {{/if}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
            </h1>
            Equipped: <input type="checkbox" name="system.itemEquipped" {{checked system.itemEquipped}} />
        </div>
    </header>


    <table class="equipped-stats">
        <tr>
            <td>Cost</td>
            <td>Load</td>
            <td>Qty</td>
            <td><button class="useAP" data-apused="{{ system.apCost }}">AP</button></td>
            <td>Range</td>
            <td>Arm DC</td>
            <td>AOE</td>
        </tr>
        <tr>
            <td><input type="number" name="system.cost" value="{{ system.cost }}" /></td>
            <td><input type="number" name="system.load" value="{{ system.load }}" /></td>
            <td><input type="number" name="system.quantity" value="{{ system.quantity }}" /></td>
            <td><input type="number" name="system.apCost" value="{{ system.apCost }}" /></td>
            <td><input type="number" name="system.range.short" value="{{ system.range.short }}" /></td>
            <td><input type="number" name="system.armDC" value="{{ system.armDC }}" /></td>

        </tr>
    </table>
    <table class="equipped-stats"><tr>
    <td>AOE:</td>
    <td><input type="text" name="system.aoeRadius" value="{{ system.aoeRadius }}" /></td>
</tr></table>
    <br />

    <table class="equipped-stats">
        <tr>
            <td>
                <select name="system.abilityMod">
                    {{selectOptions abilities selected=system.abilityMod blank="None"}}
                </select></td><td>
                <select name="system.skillBonus">
                    {{selectOptions skills selected=system.skillBonus blank="None"}}
                </select>
            </td>
        </tr>
    </table>
    {{> "systems/arcane-arcade-fallout/templates/item/parts/weapon-damage.hbs"}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="crafting">Crafting</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" item-description data-group="primary" data-tab="description" style="padding: 20px">
            {{editor system.description target="system.description" button=true engine="prosemirror"}}
        </div>
        {{!-- Crafting Tab --}}
        <div class="tab crafting" data-group="primary" data-tab="crafting">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-crafting.hbs"}}
        </div>
        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
        </div>
    </section>
</form>
{{log this}}
