
<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }}{{#isVaultTec}} vaulttec {{/isVaultTec}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" /><br />
        <div class="header-fields">
            <h1 class="charname">
                <input class="item-label" name="name" type="text" value="{{ item.name }}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="crafting">Crafting</a>
        <a class="item" data-tab="upgrades">Upgrades</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" item-description data-group="primary" data-tab="description">
            <div style="min-height:200px;" class="grid grid-10col">
                <div class="grid-span-3">
                    <div style="min-height:200px;" class="grid grid-2col weapon-details">
                        <div>Qty:</div><div><input type="number" name="system.quantity" value="{{ system.quantity }}" /></div>
                        <div title="Armor Class - Difficulty Value for Enemies to Roll To Hit You">AC:</div><div><input type="number" name="system.armorClass.value" value="{{ system.armorClass.value }}" /></div>
                        <div title="Damage Threshold - Absorbs the First Damage that reaches your AP after SP">DT:</div><div><input type="number" name="system.damageThreshold.value" value="{{ system.damageThreshold.value }}" /></div>
                        <div>Load:</div><div><input type="number" name="system.load" value="{{ system.load }}" /></div>
                        <div>Cost:</div><div><input type="number" name="system.cost" value="{{ system.cost }}" /></div>
                        <div>CND:</div><div><input type="number" name="system.decay" value="{{system.decay}}" max="10" min="0" /></div>
                        <div>Armor type:</div>
                        <select name="system.armorType">
                            {{selectOptions armorTypes selected=system.armorType valueAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="grid-span-7 weapon-description">
                    {{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}
                </div>
            </div>
        </div>
        {{!-- Crafting Tab --}}
        <div class="tab crafting" data-group="primary" data-tab="crafting">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-breakdown.hbs"}}
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-crafting.hbs"}}
        </div>
        {{!-- Upgrades Tab --}}
        <div class="tab" data-group="primary" data-tab="upgrades">
            <fieldset>
                <legend># of Slots</legend>
                <input type="number" name="system.upgrade.slotCount" value="{{system.upgrade.slotCount}}" min="0" max="10" />
            </fieldset>
            <div class="my-3">
                <h4>Upgrades</h4>
                <ul>
                    {{#each system.upgrade.slots as |slot|}}
                        <li>{{slot.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
        </div>
    </section>
</form>

{{log system}}
