<style>
  .sheet .editor-content {
    line-height: 2;
  }
</style>

<form class="{{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
        </h1>
        Equipped: <input type="checkbox" equipItem name="system.itemEquipped" {{checked system.itemEquipped}} /><br>
        Number Owned:<input style="text-align:center;width:35px;" type="number" name="system.quantity" value="{{system.quantity}}" />
        <div>
            Upgrades:
            
            {{#each system.upgrades as |key|}}
              {{#GreaterThan key.value 1}}
              <a class="content-link" style="color:black" draggable="true" data-uuid="Compendium.world.upgrades.Item.{{key._id}}"
                data-id="{{key._id}}" data-type="Item" data-pack="arcane-arcade-fallout.upgrades" data-tooltip="{{key.auto}}">
                  <i class="fas fa-suitcase">
                  </i>{{ key.name }}{{ key.value }}
              </a>
              {{/GreaterThan}}
            {{/each}}
        </div>
        <table>
            <tr>
                <td>Cost</td>
                <td>AC</td>
                <td>DT</td>
                <td>Slots</td>
                <td>Load</td>
                <td>STR Req.</td>
            </tr>
            <tr>
                <td>
                    <input type="number"
                           name="system.baseCost.value"
                           value="{{ system.baseCost.value }}" />
                </td>
                <td>
                    <input type="number"
                           name="system.armorClass.value"
                           value="{{ system.armorClass.value }}" />
                </td>
                <td>
                    <input type="number"
                           name="system.damageThreshold.value"
                           value="{{ system.damageThreshold.value }}" />
                </td>
                <td>
                    <input type="number" name="system.slots.value" value="{{ system.slots.value }}" />
                </td>
                <td><input type="number" name="system.load" value="{{ system.load }}" /></td>
                <td>
                    <input type="number" name="system.strReq.value" value="{{ system.strReq.value }}" />
                </td>
            </tr>
        </table>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="upgrades">Upgrades</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
	  {{editor system.description target="system.description" button=true engine="prosemirror"}}
    </div>
    {{!-- Upgrades Tab --}}
    <div class="tab" data-group="primary" data-tab="upgrades">
      <table>
        <th style ="min-width:20px">
          Rank
        </th>
        <th>
          Upgrade Name
        </th>
        <th>
          Description
        </th>
        <tr>
          <td id="valueCamouflage">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerCamouflage" class="fas fa-minus-square"></i>
            {{system.upgrades.camouflage.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherCamouflage" class="fas fa-plus-square"></i>
          </td>
          <td>
            Camouflage
          </td>
          <td id="descCamouflage" style = "max-width:200px">
            {{system.upgrades.camouflage.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueLight">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerLight" class="fas fa-minus-square"></i>
            {{system.upgrades.light.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherLight" class="fas fa-plus-square"></i>
          </td>
          <td>
            Light
          </td>
          <td id="descLight" style = "max-width:200px">
            {{system.upgrades.light.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueFitted">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerFitted" class="fas fa-minus-square"></i>
            {{system.upgrades.fitted.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherFitted" class="fas fa-plus-square"></i>
          </td>
          <td>
            Fitted
          </td>
          <td id="descFitted" style = "max-width:200px">
            {{system.upgrades.fitted.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueLeadLined">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerLeadLined" class="fas fa-minus-square"></i>
            {{system.upgrades.leadlined.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherLeadLined" class="fas fa-plus-square"></i>
          </td>
          <td>
            Lead Lined
          </td>
          <td id="descLeadLined" style = "max-width:200px">
            {{system.upgrades.leadlined.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueStrengthened">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerStrengthened" class="fas fa-minus-square"></i>
            {{system.upgrades.strengthened.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherStrengthened" class="fas fa-plus-square"></i>
          </td>
          <td>
            Strengthened
          </td>
          <td id="descStrengthened" style = "max-width:200px">
            {{system.upgrades.strengthened.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueSturdy">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerSturdy" class="fas fa-minus-square"></i>
            {{system.upgrades.sturdy.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherSturdy" class="fas fa-plus-square"></i>
          </td>
          <td>
            Sturdy
          </td>
          <td id="descSturdy" style = "max-width:200px">
            {{system.upgrades.sturdy.desc}}
          </td>
        </tr>
        <tr>
          <td id="valuePocketed">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerPocketed" class="fas fa-minus-square"></i>
            {{system.upgrades.pocketed.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherPocketed" class="fas fa-plus-square"></i>
          </td>
          <td>
            Pocketed
          </td>
          <td id="descPocketed" style = "max-width:200px">
            {{system.upgrades.pocketed.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueReinforced">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerReinforced" class="fas fa-minus-square"></i>
            {{system.upgrades.reinforced.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherReinforced" class="fas fa-plus-square"></i>
          </td>
          <td>
            Reinforced
          </td>
          <td id="descReinforced" style = "max-width:200px">
            {{system.upgrades.reinforced.desc}}
          </td>
        </tr>
        <tr>
          <td id="valueHardened">
            <i style="padding:3px;cursor: pointer;" data-tableSubtraction id="lowerHardened" class="fas fa-minus-square"></i>
            {{system.upgrades.hardened.value}}
            <i style="padding:3px;cursor: pointer;" data-tableAddition id="higherHardened" class="fas fa-plus-square"></i>
          </td>
          <td>
            Hardened
          </td>
          <td id="descHardened" style = "max-width:200px">
            {{system.upgrades.hardened.desc}}
          </td>
        </tr>
      </table>
	 	  {{!--{{editor system.upgrades target="system.upgrades" button=false engine="prosemirror"}}--}} 
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}
