<form class="{{ cssClass }}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{ item.name }}" placeholder="Name" />
      </h1>
		Qty: <input style="width:50px;" type="number" name="system.quantity" value="{{ system.quantity }}" min="0" />
    </div>
  </header>
  <table>
      <tr>
          <td style="width: 200px">Load:</td>
          <td><input type="number" name="system.load" value="{{ system.load }}" /></td>
      </tr>
      <tr>
          <td style="width: 200px">Material 1:</td>
          <td><input type="text" name="system.junk.type1" value="{{ system.junk.type1 }}" /></td>
          <td>Qty</td>
          <td>
              <input type="number" name="system.junk.quantity1" value="{{ system.junk.quantity1 }}" />
          </td>
      </tr>
      <tr>
          <td style="width: 200px">Material 2:</td>
          <td><input type="text" name="system.junk.type2" value="{{ system.junk.type2 }}" /></td>
          <td>Qty</td>
          <td>
              <input type="number" name="system.junk.quantity2" value="{{ system.junk.quantity2 }}" />
          </td>
      </tr>
      <tr>
          <td style="width: 200px">Material 2:</td>
          <td><input type="text" name="system.junk.type2" value="{{ system.junk.type3 }}" /></td>
          <td>Qty</td>
          <td>
              <input type="number" name="system.junk.quantity2" value="{{ system.junk.quantity3 }}" />
          </td>
      </tr>
  </table>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable engine="prosemirror"}}
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>
