<div class="{{#if system.vaulttec}} vaulttec {{/if}}">
<form class="perk perk-list" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1>
        <input name="name" type="text" value="{{ item.name }}" placeholder="Perk name" />
      </h1>
      <div class="grid grid-2col gap-3">

        <div class="nowrap">Repeatable</div>
          <input type="checkbox" name="system.repeat.canRepeat" {{checked system.repeat.canRepeat}} />
          {{#if system.repeat.canRepeat}}
          Times: <input name="system.repeat.times" value="{{ system.repeat.times }}" type="number" />
          Repeat Rewards: <input name="system.repeat.requirement" value="{{ system.repeat.requirement }}" placeholder="requirement" type="text" />
          {{/if}}

        {{!-- Requirement (text field, no automation) --}}
        <div class="nowrap">Req: </div>
        <input
          type="text"
          name="system.requirement.value"
          value="{{ system.requirement.value }}"
        />
        
        {{!-- Character level requirement --}}
        <div class="nowrap">Level Req: </div>
        <input
          type="number"
          min="1"
          name="system.lvlReq"
          value="{{system.lvlReq}}"
        />

        {{!-- Special requirement --}}
        <div class="nowrap">SPECIAL Req: </div>
        <div class="flex gap-3">
          <select name="system.specialReq.special">
            {{selectOptions specialOptions selected=system.specialReq.special valueAttr="id" labelAttr="label" blank="None"}}
          </select>
          {{#if system.specialReq.special }}
          <input type="number" value={{system.specialReq.value}} min="1" max="10" name="system.specialReq.value" placeholder="Required special value" />
          {{/if}}
        </div>


        {{!-- Race requirements --}}
        <div class="nowrap">Race Req: </div>
        <div data-race-drop class="drop-area" data-tooltip="drop race here to add">
          {{#each system.raceReq as |race|}}
              <div class="flex">
                <div>{{race.label}}</div>
                <button data-remove-race="{{race.id}}" class="ml-5" type="button">
                  <i class="fas fa-minus-square"></i>
                </button>
              </div>
          {{/each}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab htmlfield" item-description  data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror"
      editable=editable}}
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>
    </div>
{{ log this }}
