<div class="{{#isVaultTec}} vaulttec {{/isVaultTec}}">
    <form autocomplete="off">
        <header class="sheet-header">
            <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}" /><br />
            <div class="header-fields">
                <h1 class="charname">
                    <input class="item-label" name="name" type="text" value="{{ item.name }}" placeholder="Name" />
                </h1>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="effects">Effects</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Description Tab --}}
            <div class="tab" item-description data-group="primary" data-tab="description">
                <div class="grid grid-10col">
                    <div class="grid-span-3">
                        <div class="grid grid-2col weapon-details">
                            <div class="weapon-label">Level:</div><div><input type="number" name="system.quantity" value="{{ system.quantity }}" /></div>
                            <div class="weapon-label">Repeatable:</div><div style="text-align:center;padding:0px;"><input type="checkbox" name="system.repeat.canRepeat" {{checked system.repeat.canRepeat}} /></div>
                            <div class="weapon-label">Gen Req:</div><div><input type="text" name="system.requirement.value" value="{{ system.requirement.value }}" /></div>
                            <div class="weapon-label">Lvl Req:</div><div> <input type="number" min="1" name="system.lvlReq" value="{{system.lvlReq}}" /></div>
                            <div class="grid-span-2"><hr /></div>
                            <div class="grid-span-2" style="text-align:center;">SPECIAL Req:</div>
                            <div>
                                <select name="system.specialReq.special">
                                    {{selectOptions specialOptions selected=system.specialReq.special valueAttr="id" labelAttr="label" blank="None"}}
                                </select>
                            </div>
                            <div>
                                {{#if system.specialReq.special }}
                                <input type="number" value={{system.specialReq.value}} min="1" max="10" name="system.specialReq.value" placeholder="SPECIAL Value" />
                                {{/if}}
                            </div>
                            <div class="grid-span-2">Race Req: </div>
                            <div data-race-drop class="drop-area grid-span-2" data-tooltip="drop race here to add">
                                {{#each system.raceReq as |race|}}
                                <div class="flex">
                                    <div>{{race.label}}</div>
                                    <button data-remove-race="{{race.id}}" class="ml-5 no-background" type="button">
                                        <i class="fas fa-minus-square"></i>
                                    </button>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                    </div>
                    <div class="grid-span-7 weapon-description">
                        {{#CheckLang 'en'}}{{editor system.description target="system.description" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}{{/CheckLang}}
                        {{#CheckLang 'pt-BR'}}{{editor system.description_br target="system.description_br" rollData=rollData button=true owner=owner engine="prosemirror" editable=editable}}{{/CheckLang}}
                    </div>
                </div>
            </div>
            {{!-- Effects Tab --}}
            <div class="tab effects" data-group="primary" data-tab="effects">
                {{> "systems/arcane-arcade-fallout/templates/item/parts/item-effects.hbs"}}
            </div>
        </section>
    </form>
</div>
{{ log this }}
